extends ./template/layout.jade
block meta
  meta(name='description', content="解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。")
  meta(name='keywords', content="弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続")
  meta(property="og:title", content="土谷総合法律事務所")
  meta(property="og:description", content="解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalaw.net/")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title 土谷総合法律事務所
block body

  section
    #tsrv
      .tsrv_inner
        h2
          <img src="./assets/img/top/tsrv_ttl.gif" width="243" height="45" alt="取り扱い業務のご案内">
        ul
          li
            a(href="./service/debt.html" class="ophv")
              <img src="./assets/img/top/tsrv01.jpg" width="210" height="300" alt="借金問題">
          li
            a(href="./service/work.html" class="ophv")
              <img src="./assets/img/top/tsrv02.jpg" width="210" height="300" alt="労働問題">
          li
            a(href="./service/divorce.html" class="ophv")
              <img src="./assets/img/top/tsrv03.jpg" width="210" height="300" alt="離婚問題">
          li
            a(href="./service/corporate-law.html" class="ophv")
              <img src="./assets/img/top/tsrv04.jpg" width="210" height="300" alt="企業法務">
          li
            a(href="./service/general-law.html" class="ophv")
              <img src="./assets/img/top/tsrv05.jpg" width="210" height="300" alt="一般法律">
      <!-- .tsrv_inner -->
    <!-- tsrv -->
  !='\n'

  #top.wrap
    .inner
      aside
        #sidebar.left
          include ./template/sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #tmain.main.right
          #section01.section
            p この度は、土谷総合法律事務所のホームページをご覧いただきありがとうございます。
              br
              |当事務所へご連絡いただくお客様の中には、「法律に詳しくないから主張をどうやってまとめたらいいかわからない」と言われる方がいます。
              br
              |言わば私たち法律に詳しい専門家が、依頼者の主張をうまくまとめて事件を有利に進めるのが弁護士の仕事です。日本は幸いにも法治国家です。
              br
              |法律でつまずいたら、法律の番人へ、まずはお気軽にご相談くださいませ。
          <!-- #section01 -->
          !='\n'

          section
            #section02.section
              h2.h2ttl 土谷総合法律事務所の３つのお約束
              p.txt 当事務所では、ご依頼者様が安心してご利用いただけるサービスをご提供しております。
              ul
                li
                  h3 初回相談無料
                  .unit
                    p.txt02 ご依頼者様のお話しをじっくりお聞きするため、初回のご相談は無料です。時間をかけてゆっくり状況をご説明ください。
                    <img src="./assets/img/top/sec02_img01.jpg" width="210" height="105" alt="">
                li
                  h3 豊富な経験・実績
                  .unit
                    p.txt02 弁護士歴30年以上の経験と知識を活かし、ご依頼者様に最良・最善な解決方法をご提案いたします。安心してご依頼ください。
                    <img src="./assets/img/top/sec02_img02.jpg" width="210" height="105" alt="">
                li
                  h3 迅速・丁寧なサポート
                  .unit
                    p.txt02 様々な案件を解決してきた弁護士が迅速に対応いたします。ご依頼者様に分かりやすい説明を心掛けておりますのでお気軽にご相談ください。
                    <img src="./assets/img/top/sec02_img03.jpg" width="210" height="105" alt="">
            <!-- #section02 -->
          !='\n'

          section
            #section03.section
              h2.h2ttl 事務所からのお知らせ
                span.list
                  a(href="./info") 一覧はこちら &gt;
              dl
                dt 2016.09.28
                dd
                  a(href="./info") ホームページをリニューアルしました
            <!-- #section03 -->

            .ct_bnr
              a(href="./contact")
                <img src="./assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
