extends ../template/low_layout.jade
block meta
  - var page_title = 'お知らせ'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/info/")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/info/page_ttl.png" width="131" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/info/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="./") 事務所からのお知らせ

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        .main#info.right
          section
            #section01.section
              h2.h2ttl 事務所からのお知らせ
              article
                .article
                    .ttl_area
                      p.data.left 2016.09.28
                      h3.h3ttl.left ホームページをリニューアルしました
                    .txt_area
                      p 当事務所のホームページをご覧頂き、誠にありがとうございます。
                        br
                        |この度、土谷総合法律事務所のホームページをリニューアルいたしました。
                        br
                        |さまざまな情報を発信していきたいと思っておりますので、今後ともよろしくお願いいたします。
                    <!-- .txt_area -->
                <!-- article -->
            <!-- #section01 -->
          !='\n'

          .ct_bnr
            a(href="./contact")
              <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
          <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
