extends ../template/low_layout.jade
block meta
  - var page_title = '弁護士紹介'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/lawyer/")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/lawyer/page_ttl.png" width="161" height="69" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/lawyer/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="#section01") 弁護士一覧
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #lawyer.main.right
          section
            #section01.section
              h2.h2ttl 弁護士紹介
              section
                .section_inner
                  h3.h3ttl 土谷　修一（つちや　しゅういち）
                  p.img.left
                    <img src="../assets/img/lawyer/tsuchiya.jpg" width="230" height="280" alt="土谷　修一">
                  .unit.right
                    table
                      tr
                        th 所属弁護士会
                        td 東京弁護士会
                      tr
                        th 弁護士登録年
                        d
                      tr
                        th 経歴
                        td 日本大学法学部　卒業
                    !='\n'
                    dl
                      dt 弁護士よりコメント
                      dd ご連絡いただくお客様の中には「法律に詳しくないから、私の主張をどうやってまとめたらいいかわからない」と言っていらっしゃる方がいます。言わば法律に詳しい専門家が、依頼者の主張をうまくまとめて事件を有利に進めるのが弁護士の仕事ですから、そう言った悩みは不要です。伝えづらいことは時間をかけてゆっくりご説明いただければ問題ありません。日本は幸いにも法治国家です。法律で躓いたら、法律の番人へ、お気軽にお問合せくださいませ。
                  <!-- .unit -->
                <!-- section_inner -->
              !='\n'

              section
                .section_inner
                  h3.h3ttl 谷貝　知紀（やがい　ともき）
                  p.img.left
                    <img src="../assets/img/lawyer/yagai.jpg" width="230" height="280" alt="谷貝　知紀">
                  .unit.right
                    table
                      tr
                        th 所属弁護士会
                        td 第二東京弁護士会 
                      tr
                        th 弁護士登録年
                        td 2012年
                      tr
                        th 経歴
                        td
                          p 早稲田大学法学部　卒業
                          p 早稲田大学法科大学院　卒業
                          p 都内法律事務所にて勤務後、土谷総合法律事務所所属
                    !='\n'

                    dl
                      dt 弁護士よりコメント
                      dd 早稲田大学法学部、早稲田大学法科大学院を卒業し、司法修習を修了して弁護士登録。依頼者様との信頼関係構築を第一に、共に悩み考え、最善の解決方法を提供したいと考えております。
                  <!-- .unit -->
                <!-- .section_inner -->
              !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
