extends ../template/low_layout.jade
block meta
  - var page_title = 'お問い合わせ完了'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/thanks/")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}
block append script

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/contact/page_ttl.png" width="190" height="67" alt="お問い合わせ">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/contact/slist_ttl.jpg" width="225" height="45" alt="お問い合わせ">
            ul.sl_inner
              li
                a(href="../contact#section01") お問い合わせ
              li
                a(href="../contact#section02") メールフォーム
              li
                a(href="../contact#section03") 個人情報保護方針

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #contact.main.right
          section
            #section01.section
              h2.h2ttl お問い合わせ完了
              .txt_area
                p この度はお問い合わせありがとうございます。内容を確認後、担当者よりご連絡差し上げます。
                p なお、1週間以上経っても返信がない場合、メールの未着等が考えられますので、大変お手数ですが再度メールフォームよりお問い合わせください。
                p お急ぎの方は下記の電話番号へご連絡ください。
              <!-- .txt_area -->
              p
                <img src="../assets/img/contact/ct_bnr.jpg" width="750" height="150" alt="お電話・FAXでのお問い合わせはこちら">
              <!-- .ct_bnr -->
            <!-- #section01 -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
