extends ../template/low_layout.jade
block meta
  - var page_title = 'ご相談の流れ'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/flow/")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/flow/page_ttl.png" width="188" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/flow/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="#section01") #{page_title}

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #flow.main.right
          section
            #section01.section
              h2.h2ttl ご相談の流れ
              p.txt01 お問い合わせをいただいてからご相談・事件処理までの流れをご紹介します。
              section
                .unit
                  h3.h3ttl01 お問い合わせ・ご予約
                  .unit_body
                    .txt_area.first.left
                      p まずはお電話またはメールフォームよりお問い合わせください。
                      p ご連絡先、簡単なご相談内容、ご希望の日時をお聞きした上で、ご来所いただく日程を調整させていただきます。
                      p その際に必要な資料等のご案内もいたしますので、当日ご持参ください。
                      p.txt02 お電話でのお問い合わせ &nbsp;&nbsp;
                        span TEL：03-6272-5485
                      p.txt02 メールでのお問い合わせ &nbsp;&nbsp;
                        span
                          a.ophv(href="../contact#section02") メールフォームはこちら
                    p.img.right
                      <img src="../assets/img/flow/sec01_img.jpg" width="230" height="170"  alt="お問い合わせ・ご予約の写真">
              !='\n'

              section
                .unit
                  h3.h3ttl02 ご来所・法律相談
                  .unit_body
                    .txt_area.left
                      p ご来所いただき、面談にてお話をじっくりお聞きいたします。
                      p なお、当事務所ではご相談者様の正確な状況や経緯を把握するため、
                        span.red 初回のご相談は無料とさせていただいております。
                      p 法律は難しいと思っている方も多いですが、当事務所ではなるべく専門用語を使わず、ご依頼者様にわかりやすいご説明を心掛けておりますので、安心してご相談ください。
                      p 弁護士からのアドバイスのみで解決した場合はご相談のみで終了となります。

                    p.img.right
                      <img src="../assets/img/flow/sec02_img.jpg" width="230" height="170"  alt="ご来所・法律相談の写真">
              !='\n'

              section
                .unit
                  h3.h3ttl03 委任契約
                  .unit_body
                    .txt_area.left
                      p ご相談内容やお持ちいただいた資料をもとに、最善と思われる解決策をご提案させていただきます。
                      p 事件処理の依頼をご希望される場合は、当事務所と委任契約を交わしていただきます。
                      p ご提示した解決方法や費用等に関してご検討いただき、ご納得いただけましたらご契約となります。
                      p ご質問やご不明な点がございましたらお気軽にお尋ねください。
                    p.img.right
                      <img src="../assets/img/flow/sec03_img.jpg" width="230" height="170"  alt="委任契約の写真">
              !='\n'

              section
                .unit.last
                  h3.h3ttl04 事件処理・解決
                  .unit_body
                    .txt_area.left
                      p 弁護士が書類作成、事実調査、起訴提起、示談交渉など案件に応じて対応いたします。
                      p ご依頼者様のケースにより解決までの日程や対処方法は異なりますが、事前に予定をお伝えしたします。
                      p また、ご依頼者様との打ち合わせや進捗報告等をさせていだきながら事件処理を進めていきますので、安心してお任せください。
                      p 全ての処理が終わりましたら、晴れて問題解決となります。
                    p.img.right
                      <img src="../assets/img/flow/sec04_img.jpg" width="230" height="170"  alt="事件処理・解決の写真">
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
