extends ../template/low_layout.jade
block meta
  - var page_title = '業務のご案内'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/service/")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/service/page_ttl.png" width="187" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/service/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="./debt.html") 借金問題
              li
                a(href="./work.html") 労働問題
              li
                a(href="./divorce.html") 離婚問題
              li
                a(href="./corporate-law.html") 企業法務
              li
                a(href="./general-law.html") 一般法律
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #service.main.right
          section
            #section01.section
              h2.h2ttl 業務のご案内
              .txt_area01
                p 当事務所が取り扱っている主な業務内容をご案内します。
                p これまでの経験と知識でご依頼者様にとって最良な解決方法をご提案いたします。
              <!-- .txt_area -->
              !='\n'

              ul.srv_area
                li.srv_inner
                  section
                    h3#h3ttl01.h3ttl 借金問題
                    .unit
                      p.img
                        <img src="../assets/img/service/img01.jpg" width="335" height="130" alt="借金問題の写真">
                      p.txt 過払い金請求、任意整理、自己破産、民事再生等、円滑な生活再建策のご提案をいたします。まずは借金の取立てストップから始めましょう。
                      ul.list
                        li
                          a.ophv(href="./debt.html#h301") 過払い請求
                        li
                          a.ophv(href="./debt.html#h302") 任意整理
                        li
                          a.ophv(href="./debt.html#h303") 自己破産
                        li
                          a.ophv(href="./debt.html#h304") 民事再生
                        li
                          a.ophv(href="./debt.html#h305") 総量規制
                    <!-- .unit -->
                !='\n'

                li.srv_inner
                  section
                    h3#h3ttl02.h3ttl 労働問題
                    .unit
                      p.img
                        <img src="../assets/img/service/img02.jpg" width="335" height="130" alt="労働問題の写真">
                      p.txt 不当解雇、未払賃金・残業代請求等、的確なアドバイスと法的処理をいたします。残業代の請求権は2年で時効となりますのでお早めにご相談ください。
                      ul.list
                        li
                          a.ophv(href="./work.html#h301") 残業代請求
                        li
                          a.ophv(href="./work.html#h302") 不当解雇・退職勧奨
                        li
                          a.ophv(href="./work.html#h303") セクハラ・パワハラ
                        li
                          a.ophv(href="./work.html#h304") 労働災害関係
                    <!-- .unit -->
                !='\n'

                li.srv_inner
                  section
                    h3#h3ttl03.h3ttl 離婚問題
                    .unit
                      p.img
                        <img src="../assets/img/service/img03.jpg" width="335" height="130" alt="離婚問題の写真">
                      p.txt 離婚には慰謝料・財産分与・養育費・親権等、多くの法律問題が生じます。ご依頼者様の事情を考慮し、問題解決の為に適切なサポートをいたします。
                      ul.list
                        li
                          a.ophv(href="./divorce.html#h301") 親権
                        li
                          a.ophv(href="./divorce.html#h302") 教育費
                        li
                          a.ophv(href="./divorce.html#h303") 財産分与
                        li
                          a.ophv(href="./divorce.html#h304") 慰謝料請求
                        li
                          a.ophv(href="./divorce.html#h305") 婚姻費用の分担請求
                        li
                          a.ophv(href="./divorce.html#h306") 離婚無効の裁判
                    <!-- .unit -->
                !='\n'

                li.srv_inner
                  section
                    h3#h3ttl04.h3ttl 企業法務
                    .unit
                      p.img
                        <img src="../assets/img/service/img04.jpg" width="335" height="130" alt="企業法務の写真">
                      p.txt 企業が日々直面する様々な法律問題や各種契約等に関して、法的なアドバイスや法律文書の作成等、状況に応じて迅速かつ的確に対応いたします。
                      ul.list
                        li
                          a.ophv(href="./corporate-law.html#h301") 主な業務内容
                        li
                          a.ophv(href="./corporate-law.html#h302") 顧問契約について
                    <!-- .unit -->
                !='\n'

                li.srv_inner
                  section
                    h3#h3ttl05.h3ttl 一般法律
                    .unit
                      p.img
                        <img src="../assets/img/service/img05.jpg" width="335" height="130" alt="一般法律の写真">
                      p.txt 債権回収、交通事故、遺産相続、不動産関連、刑事事件等、トラブルの内容に応じて的確なアドバイスをいたします。裁判手続きもお任せください。
                      ul.list
                        li
                          a.ophv(href="./general-law.html#h301") 交通事故
                        li
                          a.ophv(href="./general-law.html#h302") 相続人問題
                        li
                          a.ophv(href="./general-law.html#h303") 逮捕
                        li
                          a.ophv(href="./general-law.html#h304") 不動産トラブル
                        li
                          a.ophv(href="./general-law.html#h305") 金銭トラブル
                    <!-- .unit -->
                !='\n'
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
