extends ../template/low_layout.jade
block meta
  - var page_title = 'お問い合わせ'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/contact/")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}
block append script

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/contact/page_ttl.png" width="190" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/contact/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="#section01") #{page_title}
              li
                a(href="#section02") メールフォーム
              li
                a(href="#section03") 個人情報保護方針

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #contact.main.right
          section
            #section01.section
              h2.h2ttl #{page_title}
              .txt_area
                p 法律相談や各種お問い合わせは、お電話・FAXまたはメールフォームより承っております。
                p 初回のご相談は無料となっておりますので、お困りのことがございましたらまずはお気軽にご相談ください。
                p お急ぎの方はお電話をご利用いただくとご案内がスムーズです。
              <!-- .txt_area -->
              p
                <img src="../assets/img/contact/ct_bnr.jpg" width="750" height="150" alt="お電話・FAXでのお問い合わせはこちら">
              <!-- .ct_bnr -->
            <!-- #section01 -->
          !='\n'

          section
            #section02.section
              h2.h2ttl メールフォーム
              .txt_area
                p メールでのお問い合わせは下記のメールフォームをご利用ください。
                p 内容を確認後、担当より折り返しご連絡させていただきます。
                p ※個人情報の取り扱いにつきましては
                  a(href="#section03") 個人情報保護方針
                  |をご確認ください。
              <!-- .txt_area -->

              //メールフォーム
              include ../template/mailform.jade
            <!-- #section02 -->
          !='\n'

          section
            #section03.section
              h2.h2ttl 個人情報保護方針
              p.txt 土谷総合法律事務所（以下「当事務所」）は、お客様のプライバシーに係わる個人情報を保護することに細心の注意を払い取り組みます。お客様ご自身の判断により個人情報をご提供いただく場合がございますが、その情報は必要最小限の情報とし、その他の情報のご提供につきましてはお客様の判断を尊重いたします。
              section
                h3 1．個人情報の収集および利用目的について
                .txt_area
                  p 当事務所では依頼者・相談者をはじめとする個人情報を取得する場合、利用目的を明示し、適正かつ公正な手段によって行ないます。
                  p ［利用目的］個人情報を以下の業務遂行・目的のために取得いたします。
                  p ・事件処理その他の業務遂行を目的とする情報管理・収集、書面等の発送及び連絡の為
                  p ・ご相談、お問い合わせに関する回答の為
                <!-- .txt_area -->
              !='\n'

              section
                h3 2．個人情報の安全管理・保管
                .txt_area
                  p 当事務所は、ご提供いただいた個人情報を正確にデータ処理し、当事務所が保有する個人情報の安全性を確保するため、適切な保護・安全対策を実施し、個人情報の紛失、破壊、改ざん、漏えいの防止に努めます。
                <!-- .txt_area -->
              !='\n'

              section
                h3 3．個人情報の提供
                .txt_area
                  p 個人情報について、お客様ご本人の同意を得ずに当事務所が第三者に提供することは、以下の場合を除き、原則いたしません。
                  p ・法令に基づく場合
                  p ・人の生命、身体又は財産の保護のために必要がある場合
                  p ・国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合
                  p ・業務の遂行に係り、官公署へ書類を提出する場合
                <!-- .txt_area -->
              !='\n'

              section
                h3 4．個人情報の開示･利用停止・消去について
                .txt_area
                  p 個人情報の情報主体であるご本人が自己の個人情報について、開示、訂正、利用停止、消去等の要求をなされた場合は、適切な方法により、ご本人であることの確認を経た上で、法令または業務上拒否することが認められた場合を除き速やかに対応致します。
                <!-- .txt_area -->
              !='\n'

              section
                h3 5．個人情報保護方針の改定
                .txt_area
                  p 当事務所では、社会情勢の変化、技術の進歩、諸環境の変化等に応じ、事前の予告なくプライバシーポリシーを変更することがあります。
                <!-- .txt_area -->
              !='\n'

              section
                h3 6.お問い合せ
                .txt_area
                  p.txt02 当事務所の個人情報の取扱に関するお問い合せは下記までご連絡ください。
                  p.bold 土谷総合法律事務所
                  p 〒101-0051　東京都千代田区神田神保町3-5　ニュー徳栄ビル4階
                  p TEL：03-6272-5485 / FAX：03-6272-6433
                <!-- .txt_area -->
            <!-- #section03 -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
