extends ../template/low_layout.jade
block meta
  - var page_title = '事務所紹介'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/office/")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/office/page_ttl.png" width="161" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/office/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="#section01") 事務所概要
              li
                a(href="#section02") アクセスマップ
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #office.main.right
          section
            #section01.section
              h2.h2ttl 事務所概要
              .tbl_wrap
                table
                  tr
                    th 事務所名
                    td 土谷総合法律事務所
                  tr
                    th 代表
                    td 土谷　修一
                  tr
                    th 住所
                    td
                      p 〒101-0051
                      p 東京都千代田区神田神保町3-5　ニュー徳栄ビル4階&nbsp;
                        a.mark(href="#section02") [アクセスマップ]
                  tr
                    th 電話番号
                    td 03-6272-5485
                  tr
                    th FAX番号
                    td 03-6272-6433
                  tr
                    th 営業時間
                    td 10:00～19:00（平日）
                  tr
                    th 定休日
                    td 土・日・祝日
                  tr
                    th 対応地域
                    td 東京都、神奈川県、埼玉県、千葉県、茨城県、栃木県、群馬県、山梨県、静岡県
                  tr
                    th 主な取り扱い業務
                    td
                      p
                        a(href="") ・借金問題（過払い請求、任意整理、自己破産、民事再生）
                      p
                        a(href="") ・労働問題（残業代請求、不当解雇・退職勧奨、セクハラ・パワハラ、労働災害関係）
                      p
                        a(href="") ・離婚問題（離婚調停・訴訟、親権・養育費、財産分与、慰謝料請求）
                      p
                        a(href="") ・企業法務（労働相談、契約書作成、訴訟対応、顧問契約）
                      p
                        a(href="") ・一般法律（債権回収、交通事故、遺産相続、不動産関連、刑事事件、民事事件）
              <!-- .tbl_wrap -->
              !='\n'

              .img_area
                .unit.left
                  p
                    <img src="../assets/img/office/img02.jpg" width="250" height="180" alt="建物外観、看板事務所内の写真等が入る予定">
                  p.txt 建物外観、看板事務所内の写真等が入る予定
                <!-- .unit -->
                .unit.right
                  p
                    <img src="../assets/img/office/img01.jpg" width="250" height="180" alt="相談スペースの写真" >
                  p.txt 相談スペース
                <!-- .unit -->
              <!-- img_area -->
            <!-- #section01 -->
          !='\n'

          section
            #section02.section
              h2.h2ttl アクセスマップ
              .txt_area
                p 土谷総合法律事務所
                p 〒101-0051　東京都千代田区神田神保町3-5 ニュー徳栄ビル4階
                p 都営新宿線・三田線、東京メトロ 半蔵門線「神保町駅」A1番出口より徒歩2分
                  br
                  |都営新宿線、東京メトロ 東西線・半蔵門線「九段下駅」6番出口より徒歩2分
              <!-- .txt_area -->
              p.gmap
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2447952369653!2d139.75181286560505!3d35.69559318679072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1473061589203" width="750" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            <!-- #section02 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
