extends ../template/low_layout.jade
block meta
  - var page_title = 'よくあるご質問'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/faq/")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/faq/page_ttl.png" width="202" height="70" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/faq/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="#h3ttl01") 借金問題に関するご質問
              li
                a(href="#h3ttl02") 当事務所に関するご質問

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #faq.main.right
          section
            #section01.section
              h2.h2ttl ご質問一覧
              .txt_area01
                p お客様からよくいただくご質問をご紹介します。
                p その他、ご質問やご不明な点がございましたらお気軽にお問い合わせください。
              <!-- .txt_area -->
              section
                h3#h3ttl01.h3ttl 借金問題に関するご質問
                .txt_area02
                  p
                    a.ophv(href="#h4ttl01") 借入明細がなく、返済時期もあいまいですが請求できますか？
                  p
                    a.ophv(href="#h4ttl02") デパート等のクレジットカードも過払い金はありますか？
                  p
                    a.ophv(href="#h4ttl03") 過去に自己破産・特定調停をしましたが過払い金はありますか？
                  p
                    a.ophv(href="#h4ttl04") 家族や職場に知られたり、業者の嫌がらせはないですか？
                  p
                    a.ophv(href="#h4ttl05") 亡くなった家族の過払い請求はできますか？
                  p
                    a.ophv(href="#h4ttl06") 依頼したいけどお金に余裕がありません。諦めるしかないのでしょうか？
                <!-- .txt_area02 -->
              !='\n'

              section
                h3#h3ttl02.h3ttl 当事務所に関するご質問
                .txt_area02
                  p
                    a.ophv(href="#h4ttl07") 電話やメールでの相談は可能ですか？
                  p
                    a.ophv(href="#h4ttl08") 相談できる時間は何時から何時までですか？
                  p
                    a.ophv(href="#h4ttl09") 法律相談の際に必要なものはありますか？
                  p
                    a.ophv(href="#h4ttl10") 法律相談したら、事件の依頼をしないといけないのでしょうか？
                  p
                    a.ophv(href="#h4ttl11") 依頼した際にかかる費用はどのくらいですか？
                <!-- .txt_area02 -->
            <!-- #section01 -->
          !='\n'

          section
            #section02.section
              h2.h2ttl 回答一覧
              section
                h3.h3ttl 借金問題に関するご質問
                section
                  .unit
                    h4#h4ttl01.h4ttl 借入明細がなく返済時期もあいまいですが請求できますか？
                    p 契約書類や明細、カードがなくても業者名さえ分かればお調べすることができます。
                      br
                      |過去の高い金利や完済した取引を含めて、過払い金請求が可能です。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl02.h4ttl デパート等のクレジットカードも過払い金はありますか？
                    p 信販会社のクレジットカードに付いている、「キャッシング」や「リボ」の取引も以前は金利が高かったこともあるので過払い金が発生している可能性があります。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl03.h4ttl 過去に自己破産・特定調停をしましたが過払い金はありますか？
                    p 20％を超える金利での取引の場合は、過払い金が発生している可能性があります。
                      br
                      |一度当事務所へ相談していただき、過払い金があるのか確認することをおすすめします。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl04.h4ttl 家族や職場に知られたり、業者の嫌がらせはないですか？
                    p 20ご連絡先や郵送先に配慮して手続きを進めていきますので、ご家族や職場に知られることはありません。
                      br
                      |また、ご依頼後は貸金業法により業者から電話や郵便物が届くことはありません。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl05.h4ttl 亡くなった家族の過払い請求はできますか？
                    p 相続人の方であれば、亡くなられた方の過払い金も請求することが可能です。
                      br
                      |一度当事務所へ相談していただき、過払い金があるのか確認することをおすすめします。
                  <!-- .unit -->
                !='\n'

                section
                  .unit.last
                    h4#h4ttl06.h4ttl 依頼したいけどお金に余裕がありません。諦めるしかないのでしょうか？
                    p 過払い請求の場合は、戻ってきた過払い金から清算することができます。
                      br
                      |現在支払い中の方も業者の支払いを止めて無理のない金額で分割払いが可能ですので、諦める前にご相談ください。
                  <!-- .unit -->
              !='\n'

              section
                h3.h3ttl 当事務所に関するご質問
                section
                  .unit
                    h4#h4ttl07.h4ttl 電話やメールでの相談は可能ですか？
                    p 原則として当事務所にご来所いただき、面談によるご相談とさせていただいております。
                      br
                      |お電話やメールにて概要をお聞きすることはございますが、お一人お一人の具体的な状況やお持ちの資料等を確認しながら対処法をご案内させていただくため、お電話だけやメールだけのご相談は受け付けておりません。
                      br
                      |なお、事情により事務所にお越しいただけない場合はご相談ください。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl08.h4ttl 相談できる時間は何時から何時までですか？
                    p 当事務所の営業時間は平日の10時～19時までとなっております。
                      br
                      |土・日・祝日は定休日となっておりますが、ご要望がございましたら対応させていただきますのでお気軽にお問い合わせください。
                      br
                      |なお、メールでのご相談予約は24時間受け付けております。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl09.h4ttl 法律相談の際に必要なものはありますか？
                    p ご相談内容に関係のありそうな書類や資料、経緯や状況を簡単にまとめたメモなどがあるとご相談をスムーズに進めることができます。
                      br
                      |ご相談内容によりご用意いただくものが異なりますので、お問い合わせいただいた際にご案内させていただきます。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl10.h4ttl 法律相談したら、事件の依頼をしないといけないのでしょうか？
                    p そんなことはありません。ご相談だけでも構いませんので、お困りのことがございましたらまずはお気軽にご相談ください。法的アドバイスや対処法をご案内させていだきます。
                      br
                      |当事務所がご提示する解決方法や費用等にご納得いただけましたら、正式にご依頼ください。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl11.h4ttl 依頼した際にかかる費用はどのくらいですか？
                    p ご依頼いただく案件により費用は異なりますので、詳細はご相談時にご案内いたします。
                      br
                      |着手金、弁護士費用、実費等、わかりやすくご説明させていただきますのでご安心ください。
                  <!-- .unit -->
            <!-- #section02 -->
          !='\n'



            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
