header
  #header
    .inner
      h1 借金問題・労働問題・離婚問題でお悩みなら東京都千代田区の土谷総合法律事務所へ
      p.logo.left
        a(href="./")
          <img src="./assets/img/logo.gif" width="328" height="51" alt="土谷総合法律事務所">
      .unit.right
        <img src="./assets/img/tel.gif" width="248" height="48" alt="電話番号" class="left">
        a(href="./contact")
          <img src="./assets/img/rsvbtn_n.gif" width="230" height="52" class="right">
      <!-- .unit -->
    <!-- .inner -->
  <!-- #header -->
  !='\n'

  nav
    #gnav
      .inner
        ul
          li
            a(href="./")
              <img src="./assets/img/gnav01_n.png" width="142" height="70" alt="トップページ">
          li
            a(href="./service")
              <img src="./assets/img/gnav02_n.png" width="143" height="70" alt="業務のご案内">
          li
            a(href="./lawyer")
              <img src="./assets/img/gnav03_n.png" width="143" height="70" alt="弁護士紹介">
          li
            a(href="./flow")
              <img src="./assets/img/gnav04_n.png" width="143" height="70" alt="ご相談の流れ">
          li
            a(href="./case")
              <img src="./assets/img/gnav05_n.png" width="143" height="70"  alt="事例紹介">
          li
            a(href="./faq")
              <img src="./assets/img/gnav06_n.png" width="143" height="70" alt="よくあるご質問">
          li
            a(href="./office")
              <img src="./assets/img/gnav07_n.png" width="143" height="70" alt="事務所紹介">
      <!-- .inner -->
    <!-- #gnav -->
  !='\n'

  #slider
    .slider_inner
      ul
        li
          <img src="./assets/img/top/mainimg03.jpg" width="1100" height="380" alt="土谷総合法律事務所の写真">
        li
          <img src="./assets/img/top/mainimg01.jpg" width="1100" height="380" alt="土谷総合法律事務所の写真">
        li
          <img src="./assets/img/top/mainimg02.jpg" width="1100" height="380" alt="土谷総合法律事務所の写真">
      #slideFilterL
      #slideFilterR
    <!-- .slider_inner -->
  <!-- #slider -->