doctype
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name="viewport", content="target-densitydpi=device-dpi, width=1200, maximum-scale=1.0, user-scalable=yes")
    meta(name="format-detection", content="telephone=no,address=no,email=no")
    block meta
    block title
    link(rel="stylesheet", href="./assets/css/style.css")
    //[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(type="text/javascript", src="./assets/js/smoothScrollEx.js")
    script(type="text/javascript", src="./assets/js/rollover/opacity-rollover2.1.js")
    script(type="text/javascript", src="./assets/js/rollover/rollover.js")
    script(type="text/javascript", src="./assets/js/jquery.bxslider.min.js")
    !='\n'

    // ロールオーバーの記述
    script(type="text/javascript").
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    !='\n'

    // スライダーの記述
    script(type="text/javascript").
      $(function(){
        var slide = $('#slider ul').bxSlider({
          slideWidth  : 1100, //一枚あたりの長さ
          slideMargin : 0,
          controls    : false,
          pager       : true,
          auto        : true,
          minSlides   : 3,
          maxSlides   : 3,
          moveSlides  : 1,
          speed       : 1000,
          pause       : 5000,
          onSlideAfter: function(){
            slide.startAuto();
          }
        });
      });
  != '\n'

  body
    include ./header.jade
    != '\n'
    block body
    != '\n'
    include ./footer.jade