.side_ct
  a(href="../contact")
    <img src="../assets/img/side_rsvbtn_n.gif" width="200" height="40"  alt="無料相談のご予約はこちら">
<!-- side_ct -->
!='\n'

ul.link_list
  li
    a.ophv(href="../service")
      <img src="../assets/img/side_srv.jpg" width="217" height="69" alt="業務のご案内">
  li
    a.ophv(href="../service/corporate-law.html#h302")
      <img src="../assets/img/side_adv.jpg" width="217" height="69" alt="顧問契約について">
  li
    a.ophv(href="../faq")
      <img src="../assets/img/side_faq.jpg" width="217" height="69" alt="よくあるご質問">
  li
    a.ophv(href="../case")
      <img src="../assets/img/side_case.jpg" width="217" height="69" alt="解決事例紹介">
!='\n'

p.fb
  a.ophv(href="")
    <img src="../assets/img/side_fb.jpg" width="225" height="75" alt="facebookページ">
!='\n'

dl.side_off
  dt 土谷総合法律事務所
  dd 〒101-0051
  dd 東京都千代田区神田神保町3-5
  dd ニュー徳栄ビル4階
  dd TEL：03-6272-5485
  dd FAX：03-6272-6433
  dd.gmap <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2449722491547!2d139.75181286525918!3d35.695588830190935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1472622144363" width="203" height="203" frameborder="0" style="border:0" allowfullscreen></iframe>
  dd
    a(href="../office") 事務所概要はこちら &gt;
