footer
  #footer
    .inner
      .unit01.left
        p.flogo
          a(href="../")
            <img src="../assets/img/flogo.png" width="282" height="45" alt="土谷総合法律事務所">
        dl
          dt 土谷総合法律事務所
          dd 〒101-0051
          dd 東京都千代田区神田神保町3-5　ニュー徳栄ビル4階
          dd TEL：03-6272-5485 / FAX：03-6272-6433
      <!-- .unit01 -->
      !='\n'

      .unit02.right
        nav
          .fnav_area.left
            ul#fnav01.left
              li
                a.first(href="../service") 業務のご案内
                ul
                  li
                    a(href="../service/debt.html") 借金問題
                  li
                    a(href="../service/work.html") 労働問題
                  li
                    a(href="../service/divorce.html") 離婚問題
                  li
                    a(href="../service/corporate-law.html") 企業法務
                  li
                    a(href="../service/general-law.html") 一般法律
            !='\n'

            ul#fnav02.left
              li
                a(href="../") トップページ
              li
                a(href="../flow") ご相談の流れ
              li
                a(href="../case") 事例紹介
              li
                a(href="../service/corporate-law.html#h302") 顧問契約について
              li
                a(href="../faq") よくあるご質問
              li
                a(href="../lawyer") 弁護士紹介
            !='\n'

            ul#fnav03.left
              li
                a(href="../office") 事務所紹介
              li
                a(href="../office#section02") アクセスマップ
              li
                a(href="../info") お知らせ
              li
                a(href="../contact") お問い合わせ
              li
                a(href="../contact#section03") 個人情報保護方針
          <!-- .fnav_area -->
          !='\n'

          p.to_top.right
            a.ophv(href="#header")
              <img src="../assets/img/to_top.gif" width="45" height="45" alt="トップへ戻る">
      <!-- .unit02 -->
      !='\n'

      p.copyright Copyright © Tsuchiya General Law Office All Rights Reserved.
    <!-- .inner -->
  <!-- #footer -->