link(rel="stylesheet", href="../mailform/mfp.statics/mailformpro.css")
form#mailformpro(action="../mailform/mailformpro/mailformpro.cgi", method="POST")
  .tbl_wrap
    table
      tbody
        tr
          th.req 件名
          td
            ul.kenmei
              li
                label
                  input(type="checkbox", name="件名", value="借金問題について") 
                  |&nbsp;借金問題
              li
                label
                  input(type="checkbox", name="件名", value="労働問題について") 
                  |&nbsp;労働問題について
              li
                label
                  input(type="checkbox", name="件名", value="離婚問題について") 
                  |&nbsp;離婚問題について
              li
                label
                  input(type="checkbox", name="件名", value="企業法務について") 
                  |&nbsp;企業法務について
              li
                label
                  input(type="checkbox", name="件名", value="一般法律について") 
                  |&nbsp;一般法律について
              li
                label
                  input(type="checkbox", name="件名", value="当事務所について") 
                  |&nbsp;当事務所について
        tr
          th.req お名前
          td
            input.ipf(name="お名前", required="required", size="20", type="text")
        tr
          th フリガナ
          td
            input.ipf(name="フリガナ", size="20", type="text", data-charcheck="kana")
        tr
          th.req メールアドレス
          td
            input.ipf(name="email", required="required", size="40", type="email", data-type="email")

        tr
          th.req 郵便番号
          td
            input(type="hidden", name="ご住所[unjoin]〒+郵便番号+\n+都道府県+市区町村+丁目番地", value="")
            input.ipf(type="text", name="郵便番号", size="10", onblur="mfpc(this.form.id,this.name,'都道府県','市区町村','丁目番地');")
        tr
          th ご住所
          td
            ol
              li
                span 都道府県
                select.ipf(name="都道府県")
                  option(value="", selected="selected") 【選択して下さい】
                  optgroup(label="北海道・東北地方")
                    option(value="北海道") 北海道
                    option(value="青森県") 青森県
                    option(value="岩手県") 岩手県
                    option(value="秋田県") 秋田県
                    option(value="宮城県") 宮城県
                    option(value="山形県") 山形県
                    option(value="福島県") 福島県
                  optgroup(label="関東地方")
                    option(value="栃木県") 栃木県
                    option(value="群馬県") 群馬県
                    option(value="茨城県") 茨城県
                    option(value="埼玉県") 埼玉県
                    option(value="東京都") 東京都
                    option(value="千葉県") 千葉県
                    option(value="神奈川県") 神奈川県
                  optgroup(label="中部地方")
                    option(value="山梨県") 山梨県
                    option(value="長野県") 長野県
                    option(value="新潟県") 新潟県
                    option(value="富山県") 富山県
                    option(value="福井県") 福井県
                    option(value="静岡県") 静岡県
                    option(value="岐阜県") 岐阜県
                    option(value="愛知県") 愛知県
                  optgroup(label="近畿地方")
                    option(value="三重県") 三重県
                    option(value="滋賀県") 滋賀県
                    option(value="京都府") 京都府
                    option(value="大阪府") 大阪府
                    option(value="兵庫県") 兵庫県
                    option(value="奈良県") 奈良県
                    option(value="和歌山県") 和歌山県
                  optgroup(label="四国地方")
                    option(value="徳島県") 徳島県
                    option(value="香川県") 香川県
                    option(value="愛媛県") 愛媛県
                    option(value="高知県") 高知県
                  optgroup(label="中国地方")
                    option(value="鳥取県") 鳥取県
                    option(value="島根県") 島根県
                    option(value="岡山県") 岡山県
                    option(value="広島県") 広島県
                    option(value="山口県") 山口県
                  optgroup(label="九州・沖縄地方")
                    option(value="福岡県") 福岡県
                    option(value="佐賀県") 佐賀県
                    option(value="長崎県") 長崎県
                    option(value="大分県") 大分県
                    option(value="熊本県") 熊本県
                    option(value="宮崎県") 宮崎県
                    option(value="鹿児島県") 鹿児島県
                    option(value="沖縄県") 沖縄県
              li.city
                span 市区町村
                input.ipf(type="text", name="丁目番地", size="32")
              li
                span 丁目番地
                input.ipf(type="text", name="丁目番地", size="32")
        tr
          th.req 電話番号
          td
            input.ipf(name="電話番号", size="20", type="tel", data-type="tel", data-min="9")
        tr
          th FAX番号
          td
            input.ipf(name="FAX番号", size="20", type="tel", data-type="fax")
        tr
          th 職業
          td
            input.ipf(name="職業", size="20", type="tel", data-type="job")
        tr
          th 勤務先
          td
            input.ipf(name="勤務先", size="20", type="tel", data-type="office")
        tr
          th.req お問い合わせ内容
          td
            textarea(cols="50", name="お問い合わせ内容", required="required", rows="10")
  <!--/.tbl_wrap-->
  .confirm_btn
    button.mysubmit.left(type="submit")
      <img src="../assets/img/contact/confirm_btn_n.gif" width="140" height="40" alt="確認">
    button.mysubmit.right(type="reset")
      <img src="../assets/img/contact/reset_btn_n.gif" width="140" height="40" alt="リセット">
  <!--/.confirm_btn-->
  script#mfpjs(src="../mailform/mailformpro/mailformpro.cgi", type="text/javascript", charset="UTF-8")