extends ../template/low_layout.jade
block meta
  - var page_title = '事業場外労働のみなし労働時間制に関する判例'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/case/case08.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/case/page_ttl.png" width="132" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../case"><span itemprop="title">事例紹介</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/case/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="../case#h3ttl01") 借金問題に関する事例
              li
                a(href="../case#h3ttl02") 労働問題に関する事例
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #case.main.right
          section
            #section01.section
              h2.h2ttl 事例紹介
              section
                h3#h3ttl01.h3ttl #{page_title}
                section
                  .sec_inner
                    h4.h4ttl みなし労働時間制が採用される場合
                    p みなし労働時間制とは、労働者が労働時間の全部または一部について事業場外で業務に従事した場合において、労働時間を算定しがたいときは、所定労働時間労働したものとみなされ、労働時間の一部について事業場外で業務に従事した場合には、当該事業場内の労働時間を含めて、所定労働時間労働したものとみなされる制度です（労働基準法38条の2）。
                      br
                      |この制度は、事業場外で業務に従事し、かつ、使用者の具体的な指揮監督が及ばず労働時間を算定することが困難な業務である場合にのみ採用できます。そして、労働時間の算定の困難さは、使用者の具体的指揮監督や時間管理が可能か否かによって判断されるとされています。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl 光和商事事件（大阪地判H14.7.19労判833号22頁）
                    p 営業社員として勤務していた労働者が、時間外労働割増賃金請求をした事案。使用者は、労働基準法38条の2第1項本文の事業上外みなし労働時間制により所定労働時間労働したものとみなされると主張した。これに対し、裁判所は、使用者では、労働者らについては勤務時間を定めており、基本的に営業社員は朝使用者に出社して毎朝実施されている朝礼に出席し、その後外勤勤務に出、基本的に午後6時までに帰社して事務所内の掃除をして終業となるが、営業社員は、その内容はメモ書き程度に簡単なものとはいえ、その日の行動内容を記載した予定表を使用者に提出し、外勤中に行動を報告したときには、使用者においてその予定表の該当欄に線を引くなどしてこれを抹消しており、さらに、使用者は営業社員全員に使用者の所有の携帯電話を持たせていたのであるから、使用者が労働者ら営業社員の労働時間を算定することが困難であるということはできず、労働者らが労働基準法38条の2第1項の事業上外みなし労働時間制の適用を受けないことは明らかであるとした。
                  <!-- .sec_inner -->
                !='\n'

                p.return.right
                  a.ophv(href="../case") 事例紹介一覧へもどる &gt;
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
