extends ../template/low_layout.jade
block meta
  - var page_title = '6年前に完済、6社から749万円の過払い金が戻ってきたケース'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/case/case01.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/case/page_ttl.png" width="132" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../case"><span itemprop="title">事例紹介</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/case/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="../case#h3ttl01") 借金問題に関する事例
              li
                a(href="../case#h3ttl02") 労働問題に関する事例
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #case.main.right
          section
            #section01.section
              h2.h2ttl 事例紹介
              section
                h3#h3ttl01.h3ttl 6年前に完済、6社から749万円の過払い金が戻ってきたケース
                section
                  .sec_inner
                    h4.h4ttl ご依頼概要
                    .txt_area01
                      p ・Tさん（60代/男性）
                      p ・消費者金融合計：6社（完済）
                    <!-- txt_area03 -->

                    p Tさんは過去に消費者金融との取引が多くあり、6年前にご自身で一括で支払完済となりました。もう終わっているが「少しでも返金があればいいな」と思い、相談にいらっしゃいました。調査した結果、金利が年率20％を超える取引のため再計算後、多くの過払い金が発生していました。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl 弁護士に依頼後
                    p 弁護士が介入することにより、
                      span.red.bold 6社で合計746万円の過払い金が返還されました。
                    table
                      tr
                        th 借入先
                        th 借入期間
                        th 借入額
                        th 債務整理後の金額
                      tr
                        td A社
                        td 12年
                        td 完済
                        td
                          span.bold 188万円
                          |の過払い金回収
                      tr
                        td B社
                        td 18年
                        td 完済
                        td
                          span.bold 400万円
                          |の過払い金回収
                      tr
                        td C社
                        td 13年
                        td 完済
                        td
                          span.bold 69万円
                          |の過払い金回収
                      tr
                        td D社
                        td 5年
                        td 完済
                        td
                          span.bold 15万円
                          |の過払い金回収
                      tr
                        td E社
                        td 11年
                        td 完済
                        td
                          span.bold 71万円
                          |の過払い金回収
                      tr
                        td F社
                        td 10年
                        td 完済
                        td
                          span.bold 6万円
                          |の過払い金回収
                    p.note ※F社は経営悪化のため過去に民事再生手続きを行ない、過払い金97万円の内6%ほどしか返還されませんでした。F社のように経営破綻してしまうと返還が少なくなってしまいますので、お早めの手続きをおすすめします。
                  <!-- .sec_inner -->
                !='\n'

                p.return.right
                  a.ophv(href="../case") 事例紹介一覧へもどる &gt;
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
