extends ../template/low_layout.jade
block meta
  - var page_title = '基本給に組み込んで支給したことに関する判例'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/case/case02.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/case/page_ttl.png" width="132" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../case"><span itemprop="title">事例紹介</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/case/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="../case#h3ttl01") 借金問題に関する事例
              li
                a(href="../case#h3ttl02") 労働問題に関する事例
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #case.main.right
          section
            #section01.section
              h2.h2ttl 事例紹介
              section
                h3#h3ttl01.h3ttl 基本給に組み込んで支給したことに関する判例
                section
                  .sec_inner
                    h4.h4ttl 割増賃金の確定
                    p 時間外手当を基本給に組み込んで支給する場合、定額給のうち割増賃金に相当する部分を明確に区別することを要します。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl 小里機材事件（最判S63.7.14労判523号6頁）
                    p 月15時間の時間外労働を見込んだ上で、その分の時間外手当を加えて基本給を決定したとの使用者の主張に対して、裁判所は、仮にそのような合意がなされたとしても、基本給のうち時間外手当に当たる部分を明確に区分して合意し、かつ、労基法所定の計算方法による額がその額を上回るときはその差額を当該賃金の支払期に合意した場合にのみ、その予定時間外手当分を当該月の時間外手当の一部又は全部とすることができるとした。
                  <!-- .sec_inner -->
                !='\n'

                p.return.right
                  a.ophv(href="../case") 事例紹介一覧へもどる &gt;
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
