extends ../template/low_layout.jade
block meta
  - var page_title = '時間外労働をしたことの立証方法に関する判例'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/case/case09.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/case/page_ttl.png" width="132" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../case"><span itemprop="title">事例紹介</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/case/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="../case#h3ttl01") 借金問題に関する事例
              li
                a(href="../case#h3ttl02") 労働問題に関する事例
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #case.main.right
          section
            #section01.section
              h2.h2ttl 事例紹介
              section
                h3#h3ttl01.h3ttl #{page_title}
                section
                  .sec_inner
                    h4.h4ttl 立証するために必要なもの
                    p 時間外労働をしたことの立証方法としては、タイムカード、日報、パソコンの履歴、当事者のメモ等がありますが、始業時刻と終業時刻を客観的に裏付けるに足りるものである必要があります。 この点、タイムカードによって時間管理がされている場合には、特段の事情がない限り、タイムカード打刻時間をもって実労働時間と事実上推定するというのが、裁判例の立場です。ただし、後記（1）のように、使用者側が特段の事情の反証に成功した例もあり、この場合にはタイムカードの記載どおりの労働時間は認定されません。 また、日報による労働時間の推計が認められるかどうかは事案によりますが、後記（2）のように、正確に作成することが要請されていたという事情がある場合には、認められる傾向にあると考えられます。 また、本人のメモは、一般的には客観性に劣り、証拠としての価値は低いものと扱われますが、後記（3）のように、メモが直接の証拠とならなくても、提出された全証拠を総合判断して、概括的に時間外労働時間が推認されるケースもあります。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl （1） アイスペックビジネスブレイン事件（大阪地判H19.4.6労判946号119頁）
                    p タイムカードによって時間が管理されていたものの、労働者が勤務時間中に競業会社の設立のための準備等、競業行為を行っていたという事案において、裁判所は、タイムカードの打刻部分についても、打刻された時間中は労働者が使用者の業務に従事していたとは推認できず、労働者が主張する時間外及び深夜労働の時間のうち、使用者の業務に従事していた時間とそうでない時間を区別できないとして、 時間外及び深夜労働に関する原告の主張を、全体として採用できないとして退けた。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl （2） ピーエムコンサルタント事件（大阪地判H17.10.6労判907号5頁）
                    p 労働時間制に関する判例（1） ピーエムコンサルタント事件（大阪地判H17.10.6労判907号5頁）のとおり。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl （3） ゴムノイナキ事件（大阪高判H17.12.1労判933号69頁）
                    p 使用者において、残業が恒常化していたものの、タイムカードによる時間管理がなされておらず、他に客観的証拠が皆無である事案。裁判所は、労働者の妻が労働者の帰宅時間を記録していたノートでは、労働者の退社時刻を確定することはできないとしながらも、使用者がタイムカード等によって出退勤管理をしていなかったことをもって労働者を不利益に扱うべきではなく、使用者自身、休日出勤・残業許可願を提出せずに残業している従業員が存在することを把握しながら、これを放置していたことがうかがわれることなどからすると、具体的な終業時刻や従事した勤務の内容が明らかではないことをもって、時間外労働の立証が全くされていないとして扱うのは相当でないとして、提出された全証拠から総合判断して、ある程度概括的に時間外労働時間を推認するほかないとして、労働者主張の時間外労働の一部を認めた。
                  <!-- .sec_inner -->
                !='\n'

                p.return.right
                  a.ophv(href="../case") 事例紹介一覧へもどる &gt;
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
