extends ../template/low_layout.jade
block meta
  - var page_title = '管理監督者に関する判例'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/case/case10.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/case/page_ttl.png" width="132" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../case"><span itemprop="title">事例紹介</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/case/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="../case#h3ttl01") 借金問題に関する事例
              li
                a(href="../case#h3ttl02") 労働問題に関する事例
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #case.main.right
          section
            #section01.section
              h2.h2ttl 事例紹介
              section
                h3#h3ttl01.h3ttl #{page_title}
                section
                  .sec_inner
                    h4.h4ttl 管理監督者に当たるかどうかの判断
                    p 管理監督者に当たるかどうかは、名称にとらわれず、職務内容、責任と権限、職務態様等に関する実態に即し、賃金等の待遇面にも留意して判断すべきとされています。また、時間外手当等が支給されない代わりに、管理職手当ないし役職手当等の特別手当により、その地位にふさわしい待遇が与えられていることも判断基準になるとされています。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl （1） 管理監督者に該当するとした例
                    .txt_area01
                      p 日本ファースト証券事件（大阪地判H20.2.8労判959号168頁）
                    <!-- .txt_area01 -->
                    p 証券会社である使用者の支店長である労働者が、土曜日、祝日の出勤に対する時間外割増賃金の支払いを請求した事案。労働者が管理監督者に該当するかどうかという争点につき、裁判所は、労働者が、支店長として30人以上の部下を統括する地位にあり、使用者全体からみても事業経営上重要な上位の地位にあったこと、支店の経営方針を定め、部下を指導監督する権限を有しており、中途採用者については実質的に採否を決する権限を与えられていたこと、人事考課を行い、係長以下の人事については労働者の裁量で決することができ、社員の降格や昇格についても相当な影響力を有していたこと、部下の労務管理を行う一方、労働者の出欠勤の有無や労働時間は報告や管理の対象外であったこと、月25万円の職責手当を受け、職階に応じた給与を合わせると、その額は店長以下のそれより格段に高いことが認められ、このような原告の職務内容、権限と責任、勤務態様、待遇等の実態に照らしてみれば、労働者は、労働条件の決定その他労務管理について経営者と一体的な立場にある管理監督者に当たるとし、労働者による上記時間外割増賃金の支払い請求を棄却した。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl （2） 管理監督者に該当しないとした例
                    .txt_area01
                      p ゲートウェイ21事件（東京地判H20.9.30労判977号74頁）
                    <!-- .txt_area01 -->
                    p 留学・海外生活体験商品の企画・開発・販売等を業とする使用者の支店長である労働者が、時間外手当等の支払いを請求した事案。労働者が管理監督者に該当するかどうかという争点につき、裁判所は、労働者は部門の統括的な立場にあり、部下に対する労務管理上の決定権等はあるが、それは小さなものに過ぎず、また、時間外手当が支給されないことを十分に補うだけの待遇を受けておらず、出退勤についての自由も大きなものではないといえ、管理監督者に当たらないとし、時間外手当の請求を認容した。
                  <!-- .sec_inner -->
                !='\n'

                p.return.right
                  a.ophv(href="../case") 事例紹介一覧へもどる &gt;
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
