extends ../template/low_layout.jade
block meta
  - var page_title = '亡くなられた旦那さんの過払い金が262万円戻ってきたケース'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/case/case04.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/case/page_ttl.png" width="132" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../case"><span itemprop="title">事例紹介</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/case/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="../case#h3ttl01") 借金問題に関する事例
              li
                a(href="../case#h3ttl02") 労働問題に関する事例
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #case.main.right
          section
            #section01.section
              h2.h2ttl 事例紹介
              section
                h3#h3ttl01.h3ttl 亡くなられた旦那さんの過払い金が262万円戻ってきたケース
                section
                  .sec_inner
                    h4.h4ttl ご依頼概要
                    .txt_area01
                      p ・Kさん（60代/女性）
                      p ・消費者金融合計：3社（完済）
                    <!-- txt_area01 -->

                    p Kさんの旦那さんの分で過去に消費者金融と取引があったので、その分の過払い金があるのか？と気になっていたので、あれば請求したいと思い、当事務所に相談にいらっしゃいました。まったく書類もなかったので不安もあったようですが、旦那さんは高い金利で取引があったので。3社で合計262万円もの過払い金が戻りました。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl 弁護士に依頼後
                    p 弁護士が介入することにより、
                      span.red.bold 262万円の過払い金が返還されました。
                    table
                      tr
                        th 借入先
                        th 借入期間
                        th 借入額
                        th 債務整理後の金額
                      tr
                        td A社
                        td 7年
                        td 完済
                        td
                          span.bold 45万円
                          |の過払い金回収
                      tr
                        td B社
                        td 15年
                        td 完済
                        td
                          span.bold 150万円
                          |の過払い金回収
                      tr
                        td C社
                        td 9年
                        td 完済
                        td
                          span.bold 57万円
                          |の過払い金回収
                  <!-- .sec_inner -->
                !='\n'

                p.return.right
                  a.ophv(href="../case") 事例紹介一覧へもどる &gt;
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
