extends ../template/low_layout.jade
block meta
  - var page_title = '定額手当の支給に関する判例'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/case/case07.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/case/page_ttl.png" width="132" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../case"><span itemprop="title">事例紹介</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/case/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="../case#h3ttl01") 借金問題に関する事例
              li
                a(href="../case#h3ttl02") 労働問題に関する事例
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #case.main.right
          section
            #section01.section
              h2.h2ttl 事例紹介
              section
                h3#h3ttl01.h3ttl 定額手当の支給に関する判例
                section
                  .sec_inner
                    h4.h4ttl 時間外手当に該当するかどうか
                    p 時間外労働等に対応する定額の手当を支給する場合、これが他の賃金と明確に区別され、労基法所定の計算額以上であれば、時間外手当を支払ったものとされます。この定額の手当が、時間外手当に該当するかどうかが問題となります。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl （1） 肯定例
                    .txt_area01
                      p 名鉄運輸事件（名古屋地判H3.9.6判タ777号138頁）
                    <!-- txt_area01 -->
                    p 一般路線貨物自動車運送業を営む使用者において、運行・集配等の業務に従事している労働者が、時間外及び深夜労働に対する割増賃金を請求した事案。運行乗務員に支給される運行手当をもって深夜勤務時間に対する割増賃金として扱うことができるかが争点となった。裁判所は、就業規則上、運行手当が運行乗務員の深夜時間勤務に対する割増相当額として支給する旨定められているのに、作業等が深夜に行われたか否かの区別なく支給されているが、仕事の性質上恒常的に深夜勤務をせざるを得ない路線乗務員にのみ支給されており、これを深夜勤務時間に対する割増賃金として位置づけることも法律上可能であり、法所定の計算方法による割増賃金額が支給額を上回る場合にその差額を請求することができるにとどまるとして、運行手当を割増賃金と扱うことを肯定した。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl （2） 否定例
                    .txt_area01
                      p 東建ジオテック事件（東京地判H14.3.28労判827号74頁）
                    <!-- txt_area01 -->
                    p 労働者が、所定ないし法定休日と、法内ないし法外超勤に対する手当、深夜業手当の支払いを請求した事案。割増賃金の算定基礎に、労働者に支給されていた職務手当が含まれるか、また、この職務手当の一定部分が割増賃金の一部になるかという争点につき、裁判所は、この職務手当は、所定外労働に対応する部分と職務・職責に対応する部分が区別されていないから、割増賃金の算定基礎から除外することも、割増賃金の一部払いとみることもできないとした。
                  <!-- .sec_inner -->
                !='\n'

                p.return.right
                  a.ophv(href="../case") 事例紹介一覧へもどる &gt;
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
