extends ../template/low_layout.jade
block meta
  - var page_title = '多重債務で返済が厳しくなり、任意整理で借金0円、過払い金が300万円戻ってきたケース'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/case/case05.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/case/page_ttl.png" width="132" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../case"><span itemprop="title">事例紹介</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/case/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="../case#h3ttl01") 借金問題に関する事例
              li
                a(href="../case#h3ttl02") 労働問題に関する事例
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #case.main.right
          section
            #section01.section
              h2.h2ttl 事例紹介
              section
                h3#h3ttl01.h3ttl 多重債務で返済が厳しくなり、任意整理で借金0円、過払い金が300万円戻ってきたケース
                section
                  .sec_inner
                    h4.h4ttl ご依頼者様の声
                    .txt_area01
                      p 【依頼前の状況】
                      p ・会社員（40代）
                      p ・借り入れ金額：415万円（5社）
                      p ・借り入れ年数：10年
                      p ・月々返済額：10万円
                    <!-- txt_area01 -->

                    p 私は、サラ金から10年ほど前に借金を借り始めました。
                      br
                      |返済のために他社から借りてまた返すを繰り返していたら気づいたら多重債務状態になっていました。最近になり、サラ金からの融資が受けられなくなり返済が厳しくなったのがきっかけで依頼をしました。
                      br
                      |すぐに手続きをとってもらい、その日のうちに取立てがなくなりました。しばらくしてから弁護士さんから連絡があり、私の借金がゼロになったと言われたときは耳を疑いました。 そしてさらに払いすぎていたお金が300万も戻ってきて、私は元の生活を取り戻すことが出来ました！本当に感謝です！ありがとうございます！
                  <!-- .sec_inner -->
                !='\n'

                p.return.right
                  a.ophv(href="../case") 事例紹介一覧へもどる &gt;
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
