extends ../template/low_layout.jade
block meta
  - var page_title = '労働時間性に関する判例'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/case/case11.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/case/page_ttl.png" width="132" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../case"><span itemprop="title">事例紹介</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/case/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="../case#h3ttl01") 借金問題に関する事例
              li
                a(href="../case#h3ttl02") 労働問題に関する事例
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #case.main.right
          section
            #section01.section
              h2.h2ttl 事例紹介
              section
                h3#h3ttl01.h3ttl #{page_title}
                section
                  .sec_inner
                    h4.h4ttl 労働時間性があるかどうかの判断
                    p 終業時刻以降に労働した場合、それが労働時間と認められるか（労働時間性があるか）という問題があります。
                      br
                      |この点、裁判例の多くは、使用者の明示又は黙示の指示（黙認・許容）があれば労働時間と認められるとしています。そして、労働者が規定と異なる出退勤を行って時間外労働に従事し、使用者が異議を述べていない場合や、業務量が所定労働時間内に処理できないほど多く、時間外労働が常態化している場合には、黙示の指揮命令に基づく時間外労働と認められる可能性があります。ただし、後記（3）の裁判例のように、使用者が残業の禁止を明示していた場合には、これに反する時間外労働については労働時間性が否定されることがあります。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl （1） ピーエムコンサルタント事件（大阪地判H17.10.6労判907号5頁）
                    p 労働者が作成した、各勤務日の勤務開始時刻・終了時刻、休憩時間、時間外労働時間など、勤務時間に関する｢整理簿｣を基に時間外手当の額を計算した事案。裁判所は、本件整理簿が、労働者の勤務先（出向先）と使用者との間での契約に関する資料となるもので正確に作成する必要があること、労働者の上司もその記載内容を確認し、使用者も本件整理簿記載中の個別・具体的な勤務時間について争っていないことなどを理由に、労働者は本件整理簿に記載された時間どおりの勤務を行ったものと認定した。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl （2） 昭和観光事件（大阪地判H18.10.6労判930号43頁）
                    p 正規の始業時刻の前から業務を開始し、正規の終業時刻を超えて業務を終了し、就業規則に定める休憩及び仮眠時間においても業務に従事していたとして、タイムカードに記載された実際の労働時間に基づく時間外等の割増賃金の支払いが命じられた事案。使用者は、就業規則に｢従業員が時間外労働を行う場合には、原則として所属長に事前の承認を得なければならない｣と定められており、本件では所属長の事前の承認がなかった旨を主張したが、裁判所は、同規定を不当な時間外手当の支払いがされないようにするための工夫を定めたものにすぎず、業務命令に基づいて実際に時間外労働がされたことが認められる場合であっても事前の承認が行われていないときには時間外手当の請求権が失われる旨を意味する規定であるとは解されないとして、使用者の主張を退けた。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl （3） 神代学園ミューズ音楽院事件（東京高判H17.3.30労判905号72頁）
                    p 使用者が職員の時間外労働、休日労働を明示的に禁止し、残務がある場合には役職者が引き継ぐべき指示・命令をし、これを徹底していた事案において、裁判所は、この明示の残業禁止の業務命令に反して、労働者が時間外又は深夜に業務を行ったとしても、これを賃金算定の対象となる労働時間と解することはできないとして、労働時間性を否定した。
                  <!-- .sec_inner -->
                !='\n'

                p.return.right
                  a.ophv(href="../case") 事例紹介一覧へもどる &gt;
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
