extends ../template/low_layout.jade
block meta
  - var page_title = '事例紹介'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/case/")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/case/page_ttl.png" width="132" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/case/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="#h3ttl01") 借金問題に関する事例
              li
                a(href="#h3ttl02") 労働問題に関する事例
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #case.main.right
          section
            #section01.section
              h2.h2ttl 事例紹介一覧
              .txt_area01
                p これまでに当事務所で解決した案件の一例ご紹介します。
              <!-- .txt_area -->
              section
                h3#h3ttl01.h3ttl 借金問題に関する事例
                .txt_area02
                  p
                    a.ophv(href="./case01.html") 【過払い金請求】6年前に完済、6社から749万円の過払い金が戻ってきたケース
                  p
                    a.ophv(href="./case03.html") 【過払い金請求】193万円の借金がなくなり、587万円の過払い金が戻ってきたケース
                  p
                    a.ophv(href="./case04.html") 【過払い金請求】亡くなられた旦那さんの過払い金が262万円戻ってきたケース
                  p
                    a.ophv(href="./case05.html") 【任意整理】多重債務で返済が厳しくなり、任意整理で借金0円、過払い金が300万円戻ってきたケース
                  p
                    a.ophv(href="./case06.html") 【任意整理】長い付き合いの業者から過払い金を回収、返済に充てほとんどの借金がなくなったケース
                <!-- .txt_area02 -->
              !='\n'

              section
                h3#h3ttl02.h3ttl 労働問題に関する事例
                .txt_area02
                  p
                    a.ophv(href="./case02.html") 【残業代請求】 基本給に組み込んで支給したことに関する判例
                  p
                    a.ophv(href="./case07.html") 【残業代請求】 定額手当の支給に関する判例
                  p
                    a.ophv(href="./case08.html") 【残業代請求】 事業場外労働のみなし労働時間制に関する判例
                  p
                    a.ophv(href="./case10.html") 【残業代請求】 管理監督者に関する判例
                  p
                    a.ophv(href="./case09.html") 【残業代請求】 時間外労働をしたことの立証方法に関する判例
                  p
                    a.ophv(href="./case11.html") 【残業代請求】 労働時間性に関する判例
                <!-- .txt_area02 -->
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
