@charset "UTF-8";
/*====================================================================

01.format
02.common
03.top
04.low
05.info
06.contact
07.flow
08.faq
09.service
10.service_low
11.corporate-law
12.work
13.divorce
14.debt
15.general-law
16.case
17.office
18.lawyar

=====================================================================*/
/* 01.format
-------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-size: 13px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  color: #303030;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

section {
  *zoom: 1;
}

section:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
  color: #303030;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

/* 02.common
-------------------------------------------------- */
.inner {
  width: 1000px;
  margin: 0 auto;
}

.inner p {
  line-height: 1.615;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

.red {
  color: #ec3535;
}

.navy {
  color: #062161;
}

.clear {
  clear: both;
}

#header {
  width: 100%;
  padding-bottom: 23px;
}

#header .inner {
  *zoom: 1;
}

#header .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#header .inner h1 {
  padding-top: 4px;
  margin-bottom: 23px;
  font-size: 10px;
  color: #aeaeae;
}

#header .inner .unit {
  width: 495px;
}

#gnav {
  width: 100%;
  height: 70px;
  background: url("../img/gnav_bg.gif") repeat-x;
}

#gnav .inner ul {
  font-size: 0;
}

#gnav .inner ul li {
  display: inline-block;
}

.wrap {
  width: 100%;
  padding-bottom: 80px;
}

.wrap .inner {
  *zoom: 1;
}

.wrap .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.wrap .inner #sidebar {
  width: 225px;
}

.wrap .inner #sidebar .side_ct {
  height: 244px;
  margin-bottom: 10px;
  background: url("../img/side_ct.jpg") no-repeat;
}

.wrap .inner #sidebar .side_ct img {
  display: block;
  margin: 0 auto;
  padding-top: 195px;
}

.wrap .inner #sidebar .link_list {
  padding: 4px;
  margin-bottom: 10px;
  background-color: #e5e5e5;
}

.wrap .inner #sidebar .link_list li {
  margin-bottom: 4px;
}

.wrap .inner #sidebar .link_list li:last-child {
  margin-bottom: 0;
}

.wrap .inner #sidebar .fb {
  margin-bottom: 10px;
}

.wrap .inner #sidebar .side_off {
  padding: 10px 0;
  border: 1px solid #062161;
  border-top: 3px solid #062161;
}

.wrap .inner #sidebar .side_off dt {
  padding-bottom: 10px;
  margin-bottom: 11px;
  border-bottom: 1px dotted #9a9a9a;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #062161;
}

.wrap .inner #sidebar .side_off dd {
  padding: 0 10px 0;
  line-height: 1.615;
}

.wrap .inner #sidebar .side_off dd:nth-of-type(7) {
  font-size: 12px;
  text-align: right;
}

.wrap .inner #sidebar .side_off dd:nth-of-type(7) a {
  color: #ff7b1a;
  text-decoration: underline;
}

.wrap .inner #sidebar .side_off .gmap {
  margin: 6px 0 6.3px;
}

.wrap .inner .main {
  width: 750px;
}

.wrap .inner .main .section {
  margin-bottom: 25px;
}

.wrap .inner .main .section .h2ttl {
  padding: 14.5px 0 14.5px 23px;
  margin-bottom: 20px;
  font-size: 16px;
  color: navy;
  background: url("../img/h2ttl_bg.jpg") no-repeat;
}

.wrap .inner .main .ct_bnr {
  padding: 75px 165px 47px 360px;
  background: url("../img/ct_bnr.jpg") no-repeat;
}

#footer {
  width: 100%;
  padding-top: 48px;
  height: 227px;
  background: url("../img/footer_bg.gif");
}

#footer .inner .unit01 {
  width: 305px;
}

#footer .inner .unit01 .flogo {
  margin-bottom: 25px;
}

#footer .inner .unit01 dl {
  color: #fff;
  line-height: 1.615;
}

#footer .inner .unit02 {
  width: 575px;
}

#footer .inner .unit02 .fnav_area {
  width: 475px;
  color: #fff;
}

#footer .inner .unit02 .fnav_area #fnav01 {
  width: 93px;
}

#footer .inner .unit02 .fnav_area #fnav02,
#footer .inner .unit02 .fnav_area #fnav03 {
  width: 118px;
  margin-left: 70px;
}

#footer .inner .unit02 .fnav_area #fnav01 li,
#footer .inner .unit02 .fnav_area #fnav02 li,
#footer .inner .unit02 .fnav_area #fnav03 li {
  padding: 0 0 12px 13px;
  background: url("../img/mark.gif") 0 1px no-repeat;
}

#footer .inner .unit02 .fnav_area #fnav01 li a,
#footer .inner .unit02 .fnav_area #fnav02 li a,
#footer .inner .unit02 .fnav_area #fnav03 li a {
  color: #fff;
}

#footer .inner .unit02 .fnav_area #fnav01 li a:hover,
#footer .inner .unit02 .fnav_area #fnav02 li a:hover,
#footer .inner .unit02 .fnav_area #fnav03 li a:hover {
  text-decoration: underline;
}

#footer .inner .unit02 .fnav_area #fnav01 li .first,
#footer .inner .unit02 .fnav_area #fnav02 li .first,
#footer .inner .unit02 .fnav_area #fnav03 li .first {
  display: block;
  padding-bottom: 12px;
}

#footer .inner .unit02 .to_top {
  padding-top: 115px;
}

#footer .inner .copyright {
  clear: both;
  padding-top: 45px;
  font-size: 11px;
  text-align: center;
  color: #656565;
}

/* 03.top
-------------------------------------------------- */
#slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2px;
}

#slider .slider_inner {
  position: relative;
  left: 50%;
  width: 3300px;
  margin-left: -1650px;
}

#slider .slider_inner .bx-wrapper {
  position: relative;
  margin: 0 auto;
}

#slider .slider_inner .bx-wrapper .bx-controls {
  margin-top: -13px;
}

#slider .slider_inner .bx-wrapper .bx-controls .bx-pager {
  position: relative;
  top: -25px;
  /*ページャーの位置を指定*/
  z-index: 100;
  text-align: center;
  /*ページャーの位置をセンターに*/
}

#slider .slider_inner .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
  display: inline-block;
  /*横並びに*/
}

#slider .slider_inner .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
  text-indent: -9999px;
  /*数字表示をブラウザ外に押しやる*/
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 5px;
  /*角丸指定 四隅を丸くすることで5pxの●に*/
  background: #fff;
}

#slider .slider_inner .bx-wrapper .bx-controls .bx-pager .bx-pager-item a:hover {
  background: #062161;
}

#slider .slider_inner .bx-wrapper .bx-controls .bx-pager .bx-pager-item .active {
  background: #062161;
}

#slider .slider_inner ul li {
  width: 1100px;
}

#slider .slider_inner #slideFilterL, #slider .slider_inner #slideFilterR {
  position: absolute;
  top: 0;
  width: 1100px;
  height: 380px;
  opacity: 0.5;
  background: #fff;
}

#slider .slider_inner #slideFilterL {
  left: 0;
}

#slider .slider_inner #slideFilterR {
  right: 0;
}

#tsrv {
  width: 100%;
  padding: 50px 0 58px;
  margin-bottom: 50px;
  background-color: #f1f2f7;
  border-top: 1px solid #cacaca;
}

#tsrv .tsrv_inner {
  width: 1100px;
  margin: 0 auto;
}

#tsrv .tsrv_inner h2 {
  width: 243px;
  margin: 0 auto 28px;
}

#tsrv .tsrv_inner ul {
  font-size: 0;
}

#tsrv .tsrv_inner ul li {
  display: inline-block;
  margin: 0 6.25px;
}

#tsrv .tsrv_inner ul li:first-child {
  margin-left: 0;
}

#tsrv .tsrv_inner ul li:last-child {
  margin-right: 0;
}

#top .inner #tmain {
  padding-top: 9px;
}

#top .inner #tmain #section01 {
  height: 120px;
  padding: 35px 25px 70px 215px;
  background: url("../img/top/sec01_bg.jpg") no-repeat;
}

#top .inner #tmain #section02 .txt {
  margin-bottom: 20px;
  line-height: 1;
}

#top .inner #tmain #section02 ul {
  *zoom: 1;
}

#top .inner #tmain #section02 ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#top .inner #tmain #section02 ul li {
  float: left;
  width: 240px;
  margin-top: 0;
  padding-bottom: 24px;
  background: url("../img/top/sec02_bg.jpg") no-repeat;
}

#top .inner #tmain #section02 ul li:nth-child(2) {
  margin: 0 15px;
}

#top .inner #tmain #section02 ul li h3 {
  padding: 16px 0 20px 50px;
  font-size: 14px;
  color: #fff;
}

#top .inner #tmain #section02 ul li .unit {
  padding: 0 15px;
}

#top .inner #tmain #section02 ul li .unit .txt02 {
  margin: 9px 0 12px;
  font-size: 13px;
}

#top .inner #tmain #section03 .h2ttl .list {
  display: block;
  float: right;
  padding-right: 10px;
  font-size: 11px;
  color: #303030;
}

#top .inner #tmain #section03 .h2ttl .list a:hover {
  text-decoration: underline;
}

#top .inner #tmain #section03 dl {
  width: 100%;
  height: 225px;
  overflow-y: auto;
}

#top .inner #tmain #section03 dl dt {
  float: left;
  clear: left;
  width: 105px;
  padding: 20px 0 20px 30px;
  font-weight: bold;
  border-bottom: 1px dotted #9a9a9a;
  background: url("../img/top/mark.gif") 15px 23px no-repeat;
}

#top .inner #tmain #section03 dl dd {
  float: left;
  width: 590px;
  padding: 20px 0 20px;
  border-bottom: 1px dotted #9a9a9a;
}

#top .inner #tmain #section03 dl dd a:hover {
  text-decoration: underline;
}

/* 04.low common
-------------------------------------------------- */
#low_mimg {
  width: 100%;
  height: 140px;
  margin-bottom: 12px;
  background: url("../img/low/mainimg_bg.jpg") center 0 no-repeat;
}

#low_mimg .inner .page_ttl {
  padding-top: 37px;
}

#breadcrumb {
  margin-bottom: 35px;
}

#breadcrumb .inner {
  *zoom: 1;
}

#breadcrumb .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#breadcrumb .inner ul li {
  float: left;
}

#breadcrumb .inner ul li a:hover {
  text-decoration: underline;
}

#low .inner #sidebar .side_list {
  margin-bottom: 10px;
}

#low .inner #sidebar .side_list .sl_inner {
  padding: 0 10px;
  border: 1px solid #bebebe;
  border-top: none;
}

#low .inner #sidebar .side_list .sl_inner li {
  padding: 13px 0 13px 25px;
  border-bottom: 1px dotted #bebebe;
  background: url("../img/top/mark.gif") 10px 16px no-repeat;
}

#low .inner #sidebar .side_list .sl_inner li:last-of-type {
  border-bottom: none;
}

#low .inner #sidebar .side_list .sl_inner li a:hover {
  text-decoration: underline;
}

#low .inner #sidebar .side_list .sl_inner li .sli_low li {
  padding: 12px 0 0 1em;
  border-bottom: none;
  background: url("../img/service/mark02.gif") 0 16px no-repeat;
}

/* 05.info
-------------------------------------------------- */
#low .inner #info #section01 {
  margin-bottom: 60px;
}

#low .inner #info #section01 .article {
  margin-bottom: 20px;
  border: 3px solid #d7d7d7;
}

#low .inner #info #section01 .article .ttl_area {
  *zoom: 1;
  padding: 15px 0 15px;
  border-bottom: 1px dotted #9a9a9a;
  background-color: #eff7ff;
  color: #062161;
}

#low .inner #info #section01 .article .ttl_area:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #info #section01 .article .ttl_area .data {
  padding: 0 30px 0 40px;
  line-height: 1;
  background: url("../img/top/mark.gif") 25px 3px no-repeat;
}

#low .inner #info #section01 .article .txt_area {
  padding: 16px 20px;
}

/* 06.contact
-------------------------------------------------- */
#low .inner #contact .txt_area {
  margin-bottom: 21px;
}

#low .inner #contact .txt_area a {
  color: #ff7b1a;
  text-decoration: underline;
}

#low .inner #contact #section01 {
  margin-bottom: 70px;
}

#low .inner #contact #section02 {
  margin-bottom: 70px;
}

#low .inner #contact #section02 .tbl_wrap {
  margin-bottom: 20px;
}

#low .inner #contact #section02 .tbl_wrap table {
  width: 100%;
}

#low .inner #contact #section02 .tbl_wrap table tr th {
  width: 165px;
  padding: 20px 0 0 25px;
  background-color: #f0f0f0;
  border: 1px solid #bebebe;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}

#low .inner #contact #section02 .tbl_wrap table tr .must {
  background: #f0f0f0 url("../img/contact/must.png") 140px 18px no-repeat;
}

#low .inner #contact #section02 .tbl_wrap table tr td {
  padding: 8px 0 8px 20px;
  border: 1px solid #bebebe;
}

#low .inner #contact #section02 .tbl_wrap table tr td .ipf {
  height: 30px;
}

#low .inner #contact #section02 .tbl_wrap table tr td .kenmei li {
  margin-bottom: 10px;
}

#low .inner #contact #section02 .tbl_wrap table tr td ol .city {
  margin: 10px 0;
}

#low .inner #contact #section02 .tbl_wrap table tr .btm {
  padding: 0;
}

#low .inner #contact #section02 .confirm_btn {
  width: 320px;
  margin: 0 auto;
}

#low .inner #contact #section02 .confirm_btn .mysubmit {
  border: none !important;
  background: none !important;
  border-radius: 0 !important;
}

#low .inner #contact #section02 .confirm_btn .mysubmit:hover {
  box-shadow: none !important;
}

#low .inner #contact #section03 .txt {
  margin-bottom: 30px;
}

#low .inner #contact #section03 h3 {
  margin-bottom: 6px;
  color: #062161;
}

#low .inner #contact #section03 .txt_area .txt02 {
  margin-bottom: 26px;
}

/* 07.flow
-------------------------------------------------- */
#low .inner #flow #section01 {
  margin-bottom: 70px;
}

#low .inner #flow #section01 .txt01 {
  margin-bottom: 20px;
}

#low .inner #flow #section01 .unit {
  *zoom: 1;
  padding-bottom: 60px;
  margin-bottom: 20px;
  background: url("../img/flow/yajirushi.jpg") center bottom no-repeat;
}

#low .inner #flow #section01 .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #flow #section01 .unit h3 {
  padding: 15px 0 14px 120px;
  font-size: 18px;
  color: #062161;
  border: 3px solid #d7d7d7;
  border-bottom: 1px dotted #d7d7d7;
}

#low .inner #flow #section01 .unit .h3ttl01 {
  background: #eff7ff url("../img/flow/step01.jpg") 0 0 no-repeat;
}

#low .inner #flow #section01 .unit .h3ttl02 {
  background: #eff7ff url("../img/flow/step02.jpg") 0 0 no-repeat;
}

#low .inner #flow #section01 .unit .h3ttl03 {
  background: #eff7ff url("../img/flow/step03.jpg") 0 0 no-repeat;
}

#low .inner #flow #section01 .unit .h3ttl04 {
  background: #eff7ff url("../img/flow/step04.jpg") 0 0 no-repeat;
}

#low .inner #flow #section01 .unit .unit_body {
  *zoom: 1;
  padding: 17px;
  border: 3px solid #d7d7d7;
  border-top: none;
}

#low .inner #flow #section01 .unit .unit_body:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #flow #section01 .unit .unit_body .txt_area {
  width: 460px;
  padding-top: 6px;
}

#low .inner #flow #section01 .unit .unit_body .txt_area .txt02 {
  padding-left: 20px;
  background: url("../img/top/mark.gif") 0 10px no-repeat;
}

#low .inner #flow #section01 .unit .unit_body .txt_area .txt02 span {
  font-size: 15px;
  color: #ff7b1a;
}

#low .inner #flow #section01 .unit .unit_body .txt_area .txt02 span a {
  color: #ff7b1a;
  text-decoration: underline;
}

#low .inner #flow #section01 .unit .unit_body .first p:nth-of-type(3) {
  margin-bottom: 25px;
}

#low .inner #flow #section01 .last {
  padding-bottom: 0;
  margin-bottom: 0;
  background: none;
}

/* 08.faq
-------------------------------------------------- */
#low .inner #faq .h3ttl {
  padding: 13px 0 13px 30px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #fff;
  background: url("../img/faq/h3ttl_bg.jpg") 0 0 no-repeat;
}

#low .inner #faq #section01 .txt_area01 {
  margin-bottom: 16px;
}

#low .inner #faq #section01 .txt_area02 {
  margin-bottom: 50px;
}

#low .inner #faq #section01 .txt_area02 p {
  padding: 14px 0 14px 42px;
  background: url("../img/faq/q.gif") 15px center no-repeat;
  border-bottom: 1px dotted #9a9a9a;
}

#low .inner #faq #section01 .txt_area02 p:first-of-type {
  padding-top: 0;
  background-position: 15px 3px;
}

#low .inner #faq #section01 .txt_area02 p a {
  color: #062161;
  text-decoration: underline;
}

#low .inner #faq #section02 {
  margin-bottom: 70px;
}

#low .inner #faq #section02 .unit {
  margin-bottom: 20px;
  border: 3px solid #d7d7d7;
}

#low .inner #faq #section02 .unit .h4ttl {
  padding: 13px 0 13px 48px;
  color: #062161;
  border-bottom: 1px dotted #9a9a9a;
  background: #eff7ff url("../img/faq/q.gif") 20px 12px no-repeat;
}

#low .inner #faq #section02 .unit p {
  padding: 20px 0 20px 48px;
  background: url("../img/faq/a.gif") 20px 23px no-repeat;
}

#low .inner #faq #section02 .last {
  margin-bottom: 50px;
}

/* 09.service
-------------------------------------------------- */
#low .inner #service #section01 {
  margin-bottom: 70px;
}

#low .inner #service #section01 .txt_area01 {
  margin-bottom: 16px;
}

#low .inner #service #section01 .srv_area {
  *zoom: 1;
}

#low .inner #service #section01 .srv_area:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #service #section01 .srv_area .srv_inner {
  float: left;
  width: 363px;
  background: url("../img/service/mark.gif") 345px 335px no-repeat;
}

#low .inner #service #section01 .srv_area .srv_inner:nth-child(2n-1) {
  margin: 0 20px 20px 0;
}

#low .inner #service #section01 .srv_area .srv_inner .h3ttl {
  padding: 13px 0 13px 30px;
  font-size: 14px;
  color: #fff;
  background: url("../img/service/h3ttl_bg.jpg") 0 0 no-repeat;
}

#low .inner #service #section01 .srv_area .srv_inner .unit {
  *zoom: 1;
  height: 297px;
  padding: 15px 13px 0;
  border: 1px solid #bebebe;
  border-top: none;
}

#low .inner #service #section01 .srv_area .srv_inner .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #service #section01 .srv_area .srv_inner .unit .img {
  margin-bottom: 15px;
}

#low .inner #service #section01 .srv_area .srv_inner .unit .txt {
  padding-bottom: 11px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #bebebe;
}

#low .inner #service #section01 .srv_area .srv_inner .unit .list li {
  float: left;
  width: auto;
  padding: 0 11px 0 13px;
  margin-bottom: 13px;
  background: url("../img/top/mark.gif") 0 center no-repeat;
}

#low .inner #service #section01 .srv_area .srv_inner .unit .list li a {
  color: #062161;
  text-decoration: underline;
}

/* 10.service_low
-------------------------------------------------- */
#low .inner .service_low #section01 {
  *zoom: 1;
  margin-bottom: 70px;
}

#low .inner .service_low #section01:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner .service_low #section01 .sec_inner01 {
  *zoom: 1;
  margin-bottom: 40px;
}

#low .inner .service_low #section01 .sec_inner01:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner .service_low #section01 .sltxt_area01 {
  width: 485px;
}

#low .inner .service_low #section01 .sltxt_area02 {
  margin-bottom: 16px;
}

#low .inner .service_low #section01 .sltxt_area03 {
  padding-bottom: 18px;
  margin-bottom: 21px;
  border-bottom: 1px dotted #9a9a9a;
}

#low .inner .service_low #section01 .h3ttl {
  padding: 13px 0 13px 30px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #fff;
  background: url("../img/faq/h3ttl_bg.jpg") 0 0 no-repeat;
}

#low .inner .service_low #section01 .h4ttl {
  padding: 3px 0 12px 20px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #ff7b1a;
  background: url("../img/case/h4ttl_bg.jpg") 0 0 no-repeat;
}

#low .inner .service_low #section01 .h5ttl {
  margin-bottom: 8px;
}

#low .inner .service_low #section01 .mark {
  color: #062161;
}

/* 11.corporate-law
-------------------------------------------------- */
#low .inner #cor_law #section01 h5 {
  padding: 7px 0 7px 95px;
  margin-bottom: 8px;
  font-size: 15px;
  color: #062161;
}

#low .inner #cor_law #section01 .h5ttl01 {
  background: url("../img/service/corporate-law/merit01.gif") 0 0 no-repeat;
}

#low .inner #cor_law #section01 .h5ttl02 {
  background: url("../img/service/corporate-law/merit02.gif") 0 0 no-repeat;
}

#low .inner #cor_law #section01 .h5ttl03 {
  background: url("../img/service/corporate-law/merit03.gif") 0 0 no-repeat;
}

#low .inner #cor_law #section01 .cl_tbl {
  width: 100%;
}

#low .inner #cor_law #section01 .cl_tbl tr th {
  width: 150px;
  padding: 15px 0 15px 20px;
  text-align: left;
  background-color: #eff7ff;
  border: 1px solid #bebebe;
}

#low .inner #cor_law #section01 .cl_tbl tr td {
  padding-left: 20px;
  border: 1px solid #bebebe;
}

#low .inner #cor_law #section01 .unit {
  *zoom: 1;
  background: url("../img/service/corporate-law/mark.jpg") 70px 65px no-repeat;
  padding-bottom: 40px;
}

#low .inner #cor_law #section01 .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #cor_law #section01 .unit .txt_area {
  padding-bottom: 13px;
  width: 530px;
  border-bottom: 1px solid #bebebe;
}

#low .inner #cor_law #section01 .last {
  margin-bottom: 0;
  padding-bottom: 0;
  background: none;
}

/* 12.work
-------------------------------------------------- */
#low .inner #work #section01 .sec_inner02 {
  *zoom: 1;
  margin-bottom: 46px;
}

#low .inner #work #section01 .sec_inner02:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #work #section01 .sec_inner03 {
  *zoom: 1;
  margin-bottom: 50px;
}

#low .inner #work #section01 .sec_inner03:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #work #section01 .txt_area01 {
  margin-bottom: 46px;
}

#low .inner #work #section01 .txt_area02 {
  margin-bottom: 66px;
}

#low .inner #work #section01 .txt {
  margin-bottom: 26px;
}

#low .inner #work #section01 .img {
  width: 690px;
  margin: 0 auto 36px;
}

#low .inner #work #section01 .img02 {
  margin-bottom: 13px;
}

#low .inner #work #section01 .last {
  margin-bottom: 0;
}

#low .inner #work #section01 .intro_btn {
  width: 300px;
  margin: 0 auto 66px;
}

/* 13.divorce
-------------------------------------------------- */
#low .inner #divorce #section01 .sec_inner02 {
  margin-bottom: 70px;
}

#low .inner #divorce #section01 table {
  width: 100%;
}

#low .inner #divorce #section01 table tr th {
  width: 140px;
  vertical-align: middle;
  background-color: #eff7ff;
  border: 1px solid #bebebe;
}

#low .inner #divorce #section01 table tr td {
  padding: 16px 20px;
  line-height: 1.615;
  border: 1px solid #bebebe;
}

#low .inner #divorce #section01 table tr td .unit01 dt {
  padding: 16px 0 6px;
  color: #062161;
}

#low .inner #divorce #section01 .txt_area01 {
  margin-bottom: 26px;
}

#low .inner #divorce #section01 .txt_area02 {
  margin-bottom: 46px;
}

#low .inner #divorce #section01 .unit02 dt {
  float: left;
  clear: left;
  padding: 6px 0;
  color: #062161;
  font-weight: bold;
}

#low .inner #divorce #section01 .unit02 dt:last-of-type {
  padding-bottom: 0;
}

#low .inner #divorce #section01 .unit02 dd {
  float: left;
  padding: 6px 0;
}

#low .inner #divorce #section01 .unit02 dd:last-of-type {
  padding-bottom: 0;
}

#low .inner #divorce #section01 .h5ttl {
  margin-bottom: 8px;
  color: #062161;
}

#low .inner #divorce .santei_list {
  *zoom: 1;
  padding: 20px 0 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #bebebe;
}

#low .inner #divorce .santei_list:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #divorce .santei_list li {
  float: left;
  width: 50%;
  margin-bottom: 10px;
}

/* 14.debt
-------------------------------------------------- */
#low .inner #debt #section01 {
  *zoom: 1;
  margin-bottom: 70px;
}

#low .inner #debt #section01:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #debt #section01 .sec_inner02 {
  margin-bottom: 70px;
}

#low .inner #debt #section01 .img01 {
  margin-bottom: 16px;
}

#low .inner #debt #section01 .img02 {
  margin-bottom: 40px;
}

#low .inner #debt #section01 .txt_area01 {
  margin-bottom: 46px;
}

#low .inner #debt #section01 .txt_area02 {
  margin-bottom: 26px;
}

#low .inner #debt table {
  width: 100%;
}

#low .inner #debt table tr th {
  width: 170px;
  vertical-align: middle;
  background-color: #eff7ff;
  border: 1px solid #bebebe;
}

#low .inner #debt table tr td {
  padding: 16px 0 16px 20px;
  border: 1px solid #bebebe;
}

#low .inner #debt .mer_tbl {
  margin-bottom: 50px;
}

#low .inner #debt .unit {
  *zoom: 1;
  background: url("../img/service/corporate-law/mark.jpg") 45px 65px no-repeat;
  padding-bottom: 40px;
}

#low .inner #debt .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #debt .unit .txt_area03 {
  padding: 0 0 13px 10px;
  width: 580px;
  border-bottom: 1px solid #bebebe;
}

#low .inner #debt .last {
  margin-bottom: 40px;
  padding-bottom: 0;
  background: none;
}

#low .inner #debt .h5ttl01 {
  margin-bottom: 12px;
}

#low .inner #debt .intro_btn {
  width: 300px;
  margin: 0 auto;
}

/* 15.general-law
-------------------------------------------------- */
#low .inner #general-law #section01 .txt_area01 {
  margin-bottom: 36px;
}

#low .inner #general-law #section01 .sec_inner02 {
  margin-bottom: 66px;
}

#low .inner #general-law #section01 .sec_inner03 {
  *zoom: 1;
  margin-bottom: 70px;
}

#low .inner #general-law #section01 .sec_inner03:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* 16.case
-------------------------------------------------- */
#low .inner #case #section01 {
  *zoom: 1;
  margin-bottom: 70px;
}

#low .inner #case #section01:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #case #section01 .txt_area01 {
  margin-bottom: 16px;
}

#low .inner #case #section01 .h3ttl {
  padding: 13px 0 13px 30px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #fff;
  background: url("../img/faq/h3ttl_bg.jpg") 0 0 no-repeat;
}

#low .inner #case #section01 .txt_area02 {
  margin-bottom: 50px;
}

#low .inner #case #section01 .txt_area02 p {
  padding: 14px 0 14px 42px;
  background: url("../img/case/mark.gif") 15px center no-repeat;
  border-bottom: 1px dotted #9a9a9a;
}

#low .inner #case #section01 .txt_area02 p:first-of-type {
  padding-top: 0;
  background-position: 15px 3px;
}

#low .inner #case #section01 .txt_area02 p a {
  color: #062161;
  text-decoration: underline;
}

#low .inner #case #section01 .sec_inner {
  *zoom: 1;
  margin-bottom: 41px;
}

#low .inner #case #section01 .sec_inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #case #section01 .sec_inner .h4ttl {
  padding: 3px 0 12px 20px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #ff7b1a;
  background: url("../img/case/h4ttl_bg.jpg") 0 0 no-repeat;
}

#low .inner #case #section01 .sec_inner table {
  width: 100%;
  margin: 16px 0;
}

#low .inner #case #section01 .sec_inner table tr th {
  width: 20%;
  padding: 14px 0;
  background-color: #eff7ff;
  border: 1px solid #bebebe;
}

#low .inner #case #section01 .sec_inner table tr th:nth-of-type(4) {
  width: 40%;
  background-color: #ffc8c8;
}

#low .inner #case #section01 .sec_inner table tr td {
  padding: 14px 0;
  text-align: center;
  border: 1px solid #bebebe;
}

#low .inner #case #section01 .sec_inner .note {
  padding-left: 1em;
  /*1em（1文字）分、右に動かす*/
  text-indent: -1em;
  /*最初の行だけ1em（1文字）分、左に動かす*/
}

#low .inner #case #section01 .return a {
  color: #062161;
  text-decoration: underline;
}

/* 17.office
-------------------------------------------------- */
#low .inner #office #section01 {
  *zoom: 1;
  margin-bottom: 66px;
}

#low .inner #office #section01:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #office #section01 .tbl_wrap {
  margin-bottom: 30px;
}

#low .inner #office #section01 .tbl_wrap table {
  width: 100%;
}

#low .inner #office #section01 .tbl_wrap table tr th {
  width: 155px;
  padding-left: 25px;
  font-weight: normal;
  text-align: left;
  background-color: #f0f0f0;
  border: 1px solid #bebebe;
}

#low .inner #office #section01 .tbl_wrap table tr td {
  padding: 15px 0  15px 20px;
  border: 1px solid #bebebe;
}

#low .inner #office #section01 .tbl_wrap table tr td .mark {
  color: #ff7b1a;
}

#low .inner #office #section01 .tbl_wrap table tr td .mark:hover {
  text-decoration: underline;
}

#low .inner #office #section01 .img_area {
  padding: 0 100px;
}

#low .inner #office #section01 .img_area .unit .txt {
  padding-top: 8px;
  text-align: center;
}

#low .inner #office #section02 {
  margin-bottom: 70px;
}

#low .inner #office #section02 .txt_area {
  margin-bottom: 20px;
}

#low .inner #office #section02 .txt_area p:nth-of-type(2) {
  margin-bottom: 11px;
}

#low .inner #office #section02 .txt_area p:nth-of-type(3) {
  padding-left: 90px;
  background: url("../img/office/access_tab.gif") 0 0 no-repeat;
}

/* 18.lawyer
-------------------------------------------------- */
#low .inner #lawyer #section01 {
  margin-bottom: 70px;
}

#low .inner #lawyer #section01 .section_inner {
  *zoom: 1;
  margin-bottom: 50px;
}

#low .inner #lawyer #section01 .section_inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#low .inner #lawyer #section01 .section_inner .h3ttl {
  padding: 13px 0 13px 30px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #fff;
  background: url("../img/faq/h3ttl_bg.jpg") 0 0 no-repeat;
}

#low .inner #lawyer #section01 .section_inner .unit {
  width: 500px;
}

#low .inner #lawyer #section01 .section_inner .unit table {
  width: 100%;
  margin-bottom: 15px;
}

#low .inner #lawyer #section01 .section_inner .unit table tr th {
  width: 120px;
  padding: 15px 0 15px 20px;
  font-weight: normal;
  text-align: left;
  background-color: #f0f0f0;
  border: 1px solid #bebebe;
}

#low .inner #lawyer #section01 .section_inner .unit table tr td {
  padding: 15px 0 15px 20px;
  border: 1px solid #bebebe;
}

#low .inner #lawyer #section01 .section_inner .unit dl {
  padding: 20px 15px;
  background-color: #eff7ff;
  border: 1px solid #b6cde4;
}

#low .inner #lawyer #section01 .section_inner .unit dl dt {
  padding: 0 0 12px 25px;
  margin-bottom: 16px;
  color: #062161;
  border-bottom: 1px dotted #bebebe;
  background: url("../img/lawyer/mark.gif") 5px top no-repeat;
}

#low .inner #lawyer #section01 .section_inner .unit dl dd {
  line-height: 1.615;
}
