@charset "utf-8";

/*====================================================================

01.format
02.common
03.top
04.low
05.info
06.contact
07.flow
08.faq
09.service
10.service_low
11.corporate-law
12.work
13.divorce
14.debt
15.general-law
16.case
17.office
18.lawyar

=====================================================================*/

/* 01.format
-------------------------------------------------- */
 @mixin wrap {
  width: 1000px;
  margin: 0 auto;
}

$fontcolor: #303030;
$navy: #062161;
$orange: #ff7b1a;
$red: #ec3535;

$support-ie6: false;
$support-ie7: true;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit: true;
$support-opera: true;
@mixin clearfix {
  @if $support-ie6 or $support-ie7 {
    *zoom: 1;
  }
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
  font-size: 13px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  color: $fontcolor;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

section {
  @include clearfix;
}

ol, ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  text-decoration: none;
  vertical-align:baseline;
  background:transparent;
  color: $fontcolor;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

img {
  vertical-align: top;
  font-size:0;
  line-height: 0;
}

/* 02.common
-------------------------------------------------- */
.inner {
  @include wrap;
  p {
    line-height: 1.615;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

.red {
  color: $red;
}

.navy {
  color: $navy
}

.clear {
  clear: both;
}

#header {
  width: 100%;
  padding-bottom: 23px;
  .inner {
    @include clearfix;
    h1 {
      padding-top: 4px;
      margin-bottom: 23px;
      font-size: 10px;
      color: #aeaeae;
    }
    .unit {
      width: 495px;
    }
  }
}

#gnav {
  width: 100%;
  height: 70px;
  background: url("../img/gnav_bg.gif") repeat-x;
  .inner {
    ul {
      font-size: 0;
      li {
        display: inline-block;
      }
    }
  }
}

.wrap {
  width: 100%;
  padding-bottom: 80px;
  .inner {
    @include clearfix;
    #sidebar {
      width: 225px;
      .side_ct {
        height: 244px;
        margin-bottom: 10px;
        background: url("../img/side_ct.jpg") no-repeat;
        img {
          display: block;
          margin: 0 auto;
          padding-top: 195px;
        }
      }
      .link_list {
        padding: 4px;
        margin-bottom: 10px;
        background-color: #e5e5e5;
        li {
          margin-bottom: 4px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .fb {
        margin-bottom: 10px;
      }
      .side_off {
        padding: 10px 0;
        border: 1px solid $navy;
        border-top: 3px solid $navy;
        dt {
          padding-bottom: 10px;
          margin-bottom: 11px;
          border-bottom: 1px dotted #9a9a9a;
          font-size: 13px;
          font-weight: bold;
          text-align: center;
          color: $navy;
        }
        dd {
          padding: 0 10px 0;
          line-height: 1.615;
          &:nth-of-type(7) {
            font-size: 12px;
            text-align: right;
            a {
              color: #ff7b1a;
              text-decoration: underline;
            }
          }
        }
        .gmap {
          margin: 6px 0 6.3px;
        }
      }
    }
    .main {
      width: 750px;
      .section {
        margin-bottom: 25px;
        .h2ttl {
          padding: 14.5px 0 14.5px 23px;
          margin-bottom: 20px;
          font-size: 16px;
          color: navy;
          background: url("../img/h2ttl_bg.jpg") no-repeat;
        }
      }
      .ct_bnr {
        padding: 75px 165px 47px 360px;
        background: url("../img/ct_bnr.jpg") no-repeat;
      }
    }
  }
}

#footer {
  width: 100%;
  padding-top: 48px;
  height: 227px;
  background: url("../img/footer_bg.gif");
  .inner {
    .unit01 {
      width: 305px;
      .flogo {
        margin-bottom: 25px;
      }
      dl {
        color: #fff;
        line-height: 1.615;
      }
    }
    .unit02 {
      width: 575px;
      .fnav_area {
        width: 475px;
        color: #fff;
        #fnav01{
          width: 93px;
        }
        #fnav02,
        #fnav03 {
          width: 118px;
          margin-left: 70px;
        }
        #fnav01,
        #fnav02,
        #fnav03 {
          li {
            padding: 0 0 12px 13px;
            background: url("../img/mark.gif") 0 1px no-repeat;
            a {
              color: #fff;
              &:hover {
                text-decoration: underline;
              }
            }
            .first {
              display: block;
              padding-bottom: 12px;
            }
          }
        }
      }
      .to_top {
        padding-top: 115px;
      }
    }
    .copyright {
      clear: both;
      padding-top: 45px;
      font-size: 11px;
      text-align: center;
      color: #656565;
    }
  }
}



/* 03.top
-------------------------------------------------- */
#slider {
  position:relative;
  overflow:hidden;
  width:100%;
  margin-bottom: 2px;
  .slider_inner {
    position:relative;
    left:50%;
    width:3300px; //枚数分の長さ
    margin-left:-1650px; //widthの半分
    .bx-wrapper {
      position:relative;
      margin:0 auto;
      .bx-controls{
        margin-top: -13px;
        .bx-pager {
          position: relative;
        top: -25px; /*ページャーの位置を指定*/
        z-index: 100;
        text-align: center; /*ページャーの位置をセンターに*/
        .bx-pager-item {
          display: inline-block; /*横並びに*/
          a {
            text-indent: -9999px; /*数字表示をブラウザ外に押しやる*/
            display: block;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            border-radius: 5px; /*角丸指定 四隅を丸くすることで5pxの●に*/
            background: #fff;
            &:hover {
             background: $navy;
           }
         }
         .active {
          background: $navy;
        }
      }
    }
  }
}
    ul{
      li {
        width:1100px;
      }
    }
    #slideFilterL, #slideFilterR {
      position:absolute;
      top:0;
      width:1100px; //一枚あたりの長さ
      height: 380px;
      opacity: 0.5;
      background: #fff;
    }
    #slideFilterL {
      left:0;
    }
    #slideFilterR {
      right:0;
    }
  }
}

#tsrv {
  width: 100%;
  padding: 50px 0 58px;
  margin-bottom: 50px;
  background-color: #f1f2f7;
  border-top: 1px solid #cacaca;
  .tsrv_inner {
    width: 1100px;
    margin: 0 auto;
    h2 {
      width: 243px;
      margin: 0 auto 28px;
    }
    ul {
      font-size: 0;
      li {
        display: inline-block;
        margin: 0 6.25px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

#top{
  .inner {
    #tmain {
      padding-top: 9px;
      #section01 {
        height: 120px;
        padding: 35px 25px 70px 215px;
        background: url("../img/top/sec01_bg.jpg") no-repeat;
      }
      #section02 {
        .txt {
          margin-bottom: 20px;
          line-height: 1;
        }
        ul {
          @include clearfix;
          li {
            float: left;
            width: 240px;
            margin-top: 0;
            padding-bottom: 24px;
            background: url("../img/top/sec02_bg.jpg") no-repeat;
            &:nth-child(2) {
              margin: 0 15px;
            }
            h3 {
              padding: 16px 0 20px 50px;
              font-size: 14px;
              color: #fff;
            }
            .unit {
              padding: 0 15px;
              .txt02 {
                margin: 9px 0 12px;
                font-size: 13px;
              }
            }
          }
        }
      }
      #section03 {
        .h2ttl {
          .list {
            display: block;
            float: right;
            padding-right: 10px;
            font-size: 11px;
            color: $fontcolor;
            a:hover {
              text-decoration: underline;
            }
          }
        }
        dl {
          width: 100%;
          height: 225px;
          overflow-y: auto;
          dt {
            float: left;
            clear: left;
            width: 105px;
            padding: 20px 0 20px 30px;
            font-weight: bold;
            border-bottom: 1px dotted #9a9a9a;
            background: url("../img/top/mark.gif") 15px 23px no-repeat;
          }
          dd {
            float: left;
            width: 590px;
            padding: 20px 0 20px;
            border-bottom: 1px dotted #9a9a9a;
            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

/* 04.low common
-------------------------------------------------- */
#low_mimg {
  width: 100%;
  height: 140px;
  margin-bottom: 12px;
  background: url("../img/low/mainimg_bg.jpg") center 0 no-repeat;
  .inner {
    .page_ttl {
      padding-top: 37px;
    }
  }
}

#breadcrumb {
  margin-bottom: 35px;
  .inner {
    @include clearfix;
    ol {
      li {
        float: left;
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#low {
  .inner {
    #sidebar {
      .side_list {
        margin-bottom: 10px;
        .sl_inner {
          padding: 0 10px;
          border: 1px solid #bebebe;
          border-top: none;
          li {
            padding: 13px 0 13px 25px;
            border-bottom: 1px dotted #bebebe;
             background: url("../img/top/mark.gif") 10px 16px no-repeat;
            &:last-of-type {
              border-bottom: none;
            }
            a:hover {
            text-decoration: underline;
            }
            .sli_low {
              li {
                padding: 12px 0 0 1em;
                border-bottom: none;
                background: url("../img/service/mark02.gif") 0 16px no-repeat;
              }
            }
          }
        }
      }
    }
  }
}

/* 05.info
-------------------------------------------------- */
#low {
  .inner {
    #info {
      #section01 {
        margin-bottom: 60px;
        .article {
          margin-bottom: 20px;
          border: 3px solid #d7d7d7;
          .ttl_area {
            @include clearfix;
            padding: 15px 0 15px;
            border-bottom: 1px dotted #9a9a9a;
            background-color: #eff7ff;
            color: $navy;
            .data {
              padding: 0 30px 0 40px;
              line-height: 1;
              background: url("../img/top/mark.gif") 25px 3px no-repeat;
            }
          }
          .txt_area {
            padding: 16px 20px;
          }
        }
      }
    }
  }
}

/* 06.contact
-------------------------------------------------- */
#low {
  .inner {
    #contact {
      .txt_area {
        margin-bottom: 21px;
        a {
          color: #ff7b1a;
          text-decoration: underline;
        }
      }
      #section01 {
        margin-bottom: 70px;
      }
      #section02 {
        @include clearfix;
        margin-bottom: 70px;
        .tbl_wrap {
          margin-bottom: 20px;
          table {
            width: 100%;
            tr {
              th {
                width: 165px;
                padding: 20px 0 0 25px;
                background-color: #f0f0f0;
                border: 1px solid #bebebe;
                font-weight: normal;
                text-align: left;
                vertical-align: top;
              }
              .req {
                background: #f0f0f0 url("../img/contact/must.png") 140px 18px no-repeat;
              }
              td {
                padding: 8px 0 8px 20px;
                border: 1px solid #bebebe;
                .ipf {
                  height: 30px;
                }
                .kenmei li {
                  margin-bottom: 10px;
                }
                ol .city {
                  margin: 10px 0;
                }
              }
              .btm {
                padding: 0;
              }
            }
          }
        }
        .confirm_btn {
          width: 320px;
          margin: 0 auto;
          .mysubmit {
            border: none !important;
            background: none !important;
            border-radius: 0 !important;
            &:hover {
              box-shadow: none !important;
            }
          }
        }
      }
      #section03 {
        .txt {
          margin-bottom: 30px;
        }
        h3 {
          margin-bottom: 6px;
          color: $navy;
        }
        .txt_area {
          .txt02 {
            margin-bottom: 26px;
          }
        }
      }
    }
  }
}

/* 07.flow
-------------------------------------------------- */
#low {
  .inner {
    #flow {
      #section01 {
        margin-bottom: 70px;
        .txt01 {
          margin-bottom: 20px;
        }
        .unit {
          @include clearfix;
          padding-bottom: 60px;
          margin-bottom: 20px;
          background: url("../img/flow/yajirushi.jpg") center bottom no-repeat;

          h3 {
            padding: 15px 0 14px 120px;
            font-size: 18px;
            color: $navy;
            border: 3px solid #d7d7d7;
            border-bottom: 1px dotted #d7d7d7;
          }
          .h3ttl01 {
            background: #eff7ff url("../img/flow/step01.jpg") 0 0 no-repeat;
          }
          .h3ttl02 {
            background: #eff7ff url("../img/flow/step02.jpg") 0 0 no-repeat;
          }
          .h3ttl03 {
            background: #eff7ff url("../img/flow/step03.jpg") 0 0 no-repeat;
          }
          .h3ttl04 {
            background: #eff7ff url("../img/flow/step04.jpg") 0 0 no-repeat;
          }
          .unit_body {
            @include clearfix;
            padding: 17px;
            border: 3px solid #d7d7d7;
            border-top: none;
            .txt_area {
              width: 460px;
              padding-top: 6px;
              .txt02 {
                padding-left: 20px;
                background: url("../img/top/mark.gif") 0 10px no-repeat;
                span {
                  font-size: 15px;
                  color: $orange;
                  a {
                    color: $orange;
                    text-decoration: underline;
                  }
                }
              }

            }
            .first {
              p {
                &:nth-of-type(3) {
                  margin-bottom: 25px;
                }
              }
            }
          }
        }
        .last {
          padding-bottom: 0;
          margin-bottom: 0;
          background: none;
        }
      }
    }
  }
}

/* 08.faq
-------------------------------------------------- */
#low {
  .inner {
    #faq {
      .h3ttl {
        padding: 13px 0 13px 30px;
        margin-bottom: 20px;
        font-size: 14px;
        color: #fff;
        background: url("../img/faq/h3ttl_bg.jpg") 0 0 no-repeat;
      }
      #section01 {
        .txt_area01 {
          margin-bottom: 16px;
        }
        .txt_area02 {
          margin-bottom: 50px;
          p {
            padding: 14px 0 14px 42px;
            background: url("../img/faq/q.gif") 15px center no-repeat;
            border-bottom: 1px dotted #9a9a9a;
            &:first-of-type {
              padding-top: 0;
              background-position: 15px 3px;
            }
            a {
              color: $navy;
              text-decoration: underline;
            }
          }
        }
      }
      #section02 {
        margin-bottom: 70px;
        .unit {
          margin-bottom: 20px;
          border: 3px solid #d7d7d7;
          .h4ttl {
            padding: 13px 0 13px 48px;
            color: $navy;
            border-bottom: 1px dotted #9a9a9a;
            background: #eff7ff url("../img/faq/q.gif") 20px 12px no-repeat;
          }
          p {
            padding: 20px 0 20px 48px;
             background: url("../img/faq/a.gif") 20px 23px no-repeat;
          }
        }
        .last {
          margin-bottom: 50px;
        }
      }
    }
  }
}

/* 09.service
-------------------------------------------------- */
#low {
  .inner {
    #service {
      #section01 {
        margin-bottom: 70px;
        .txt_area01 {
          margin-bottom: 16px;
        }
        .srv_area {
          @include clearfix;
          .srv_inner {
            float: left;
            width: 363px;
            background: url("../img/service/mark.gif") 345px 335px no-repeat;
            &:nth-child(2n-1) {
              margin: 0 20px 20px 0;
            }
            .h3ttl {
              padding: 13px 0 13px 30px;
              font-size: 14px;
              color: #fff;
              background: url("../img/service/h3ttl_bg.jpg") 0 0 no-repeat;
            }
            .unit {
              @include clearfix;
              height: 297px;
              padding: 15px 13px 0;
              border: 1px solid #bebebe;
              border-top: none;
              .img {
                margin-bottom: 15px;
              }
              .txt {
                padding-bottom: 11px;
                margin-bottom: 15px;
                border-bottom: 1px dotted #bebebe;
              }
              .list {
                li {
                  float: left;
                  width: auto;
                  padding: 0 11px 0 13px;
                  margin-bottom: 13px;
                  background: url("../img/top/mark.gif") 0 center no-repeat;
                  a {
                    color: $navy;
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* 10.service_low
-------------------------------------------------- */
#low {
  .inner {
    .service_low {
      #section01 {
        @include clearfix;
        margin-bottom: 70px;
        .sec_inner01 {
          @include clearfix;
          margin-bottom: 40px
        }
        .sltxt_area01 {
          width: 485px;
        }
        .sltxt_area02 {
          margin-bottom: 16px;
        }
        .sltxt_area03 {
          padding-bottom: 18px;
          margin-bottom: 21px;
          border-bottom: 1px dotted #9a9a9a;
        }
        .h3ttl {
          padding: 13px 0 13px 30px;
          margin-bottom: 20px;
          font-size: 14px;
          color: #fff;
          background: url("../img/faq/h3ttl_bg.jpg") 0 0 no-repeat;
        }
        .h4ttl {
          padding: 3px 0 12px 20px;
          margin-bottom: 16px;
          font-size: 14px;
          color: $orange;
          background: url("../img/case/h4ttl_bg.jpg") 0 0 no-repeat;
        }
        .h5ttl {
          margin-bottom: 8px;
        }
        .mark {
          color: $navy;
        }
      }
    }
  }
}

/* 11.corporate-law
-------------------------------------------------- */
#low {
  .inner {
    #cor_law {
      #section01 {
        h5 {
          padding: 7px 0 7px 95px;
          margin-bottom: 8px;
          font-size: 15px;
          color: $navy;
        }
        .h5ttl01 {
          background: url("../img/service/corporate-law/merit01.gif") 0 0 no-repeat;
        }
        .h5ttl02 {
          background: url("../img/service/corporate-law/merit02.gif") 0 0 no-repeat;
        }
        .h5ttl03 {
          background: url("../img/service/corporate-law/merit03.gif") 0 0 no-repeat;
        }
        .cl_tbl {
          width: 100%;
          tr {
            th {
              width: 150px;
              padding: 15px 0 15px 20px;
              text-align: left;
              background-color: #eff7ff;
              border: 1px solid #bebebe;
            }
            td {
              padding-left: 20px;
              border: 1px solid #bebebe;
            }
          }
        }
        .unit {
          @include clearfix;
          background: url("../img/service/corporate-law/mark.jpg") 70px 65px no-repeat;
          padding-bottom: 40px;
          .txt_area {
            padding-bottom: 13px;
            width: 530px;
            border-bottom: 1px solid #bebebe;
            }
        }
        .last {
          margin-bottom: 0;
          padding-bottom: 0;
          background: none;
        }
      }
    }
  }
}

/* 12.work
-------------------------------------------------- */
#low {
  .inner {
    #work {
      #section01 {
        .sec_inner02 {
          @include clearfix;
          margin-bottom: 46px;
        }
        .sec_inner03 {
          @include clearfix;
          margin-bottom: 50px;
        }
        .txt_area01{
          margin-bottom: 46px;
        }
        .txt_area02 {
          margin-bottom: 66px;
        }
        .txt {
          margin-bottom: 26px;
        }
        .img {
          width: 690px;
          margin: 0 auto 36px;
        }
        .img02 {
          margin-bottom: 13px;
        }
        .last {
          margin-bottom: 0;
        }
        .intro_btn {
          width: 300px;
          margin: 0 auto 66px;
        }
      }
    }
  }
}

/* 13.divorce
-------------------------------------------------- */
#low {
  .inner {
    #divorce {
      #section01 {
        .sec_inner02 {
          margin-bottom: 70px;
        }
        table {
          width: 100%;
          tr {
            th {
              width: 140px;
              vertical-align: middle;
              background-color: #eff7ff;
              border: 1px solid #bebebe;
            }
            td {
              padding: 16px 20px;
              line-height: 1.615;
              border: 1px solid #bebebe;
              .unit01 {
                dt {
                  padding: 16px 0 6px;
                  color: $navy;
                }
              }
            }
          }
        }
        .txt_area01 {
          margin-bottom: 26px;
        }
        .txt_area02 {
          margin-bottom: 46px;
        }
        .unit02 {
          dt {
            float: left;
            clear: left;
            padding: 6px 0;
            color: $navy;
            font-weight: bold;
            &:last-of-type {
              padding-bottom: 0;
            }
          }
          dd {
            float: left;
            padding: 6px 0;
            &:last-of-type {
              padding-bottom: 0;
            }
          }
        }
        .h5ttl {
          margin-bottom: 8px;
          color: $navy;
        }
      }
      .santei_list {
        @include clearfix;
        padding: 20px 0 10px 20px;
        background-color: #f0f0f0;
        border: 1px solid #bebebe;
        li {
          float: left;
          width: 50%;
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* 14.debt
-------------------------------------------------- */
#low {
  .inner {
    #debt {
      #section01 {
        @include clearfix;
        margin-bottom: 70px;
        .sec_inner02 {
          margin-bottom: 70px;
        }
        .img01 {
          margin-bottom: 16px;
        }
        .img02 {
          margin-bottom: 40px;
        }
        .txt_area01 {
          margin-bottom: 46px;
        }
        .txt_area02 {
          margin-bottom: 26px;
        }
      }
      table {
        width: 100%;
        tr {
          th {
            width: 170px;
            vertical-align: middle;
            background-color: #eff7ff;
            border: 1px solid #bebebe;
          }
          td {
            padding: 16px 0 16px 20px;
            border: 1px solid #bebebe;
          }
        }
      }
      .mer_tbl {
        margin-bottom: 50px;
      }
      .unit {
        @include clearfix;
        background: url("../img/service/corporate-law/mark.jpg") 45px 65px no-repeat;
        padding-bottom: 40px;
        .txt_area03 {
          padding: 0 0 13px 10px;
          width: 580px;
          border-bottom: 1px solid #bebebe;
        }
      }
      .last {
        margin-bottom: 40px;
        padding-bottom: 0;
        background: none;
      }
      .h5ttl01 {
        margin-bottom: 12px;
      }
      .intro_btn {
        width: 300px;
        margin: 0 auto;
      }
    }
  }
}

/* 15.general-law
-------------------------------------------------- */
#low {
  .inner {
    #general-law {
      #section01 {
        .txt_area01 {
          margin-bottom: 36px;
        }
        .sec_inner02 {
          margin-bottom: 66px;
        }
        .sec_inner03 {
          @include clearfix;
          margin-bottom: 70px;
        }
      }
    }
  }
}

/* 16.case
-------------------------------------------------- */
#low {
  .inner {
    #case {
      #section01 {
        @include clearfix;
        margin-bottom: 70px;
        .txt_area01 {
          margin-bottom: 16px;
        }
        .h3ttl {
          padding: 13px 0 13px 30px;
          margin-bottom: 20px;
          font-size: 14px;
          color: #fff;
          background: url("../img/faq/h3ttl_bg.jpg") 0 0 no-repeat;
        }
        .txt_area02 {
          margin-bottom: 50px;
          p {
            padding: 14px 0 14px 42px;
            background: url("../img/case/mark.gif") 15px center no-repeat;
            border-bottom: 1px dotted #9a9a9a;
            &:first-of-type {
              padding-top: 0;
              background-position: 15px 3px;
            }
            a {
              color: $navy;
              text-decoration: underline;
            }
          }
        }
        .sec_inner {
          @include clearfix;
          margin-bottom: 41px;
          .h4ttl {
            padding: 3px 0 12px 20px;
            margin-bottom: 16px;
            font-size: 14px;
            color: $orange;
            background: url("../img/case/h4ttl_bg.jpg") 0 0 no-repeat;
          }
          table {
            width: 100%;
            margin: 16px 0;
            tr {
              th {
                width: 20%;
                padding: 14px 0;
                background-color: #eff7ff;
                border: 1px solid #bebebe;
                &:nth-of-type(4) {
                  width: 40%;
                  background-color: #ffc8c8;
                }
              }
              td {
                padding: 14px 0;
                text-align: center;
                border: 1px solid #bebebe;
              }
            }
          }
          .note {
            padding-left: 1em; /*1em（1文字）分、右に動かす*/
            text-indent: -1em; /*最初の行だけ1em（1文字）分、左に動かす*/
          }
        }
        .return {
          a {
            color: $navy;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/* 17.office
-------------------------------------------------- */
#low {
  .inner {
    #office {
      #section01 {
        @include clearfix;
        margin-bottom: 66px;
        .tbl_wrap {
          margin-bottom: 30px;
          table {
            width: 100%;
            tr{
              th {
                width: 155px;
                padding-left: 25px;
                font-weight: normal;
                text-align: left;
                background-color: #f0f0f0;
                border: 1px solid #bebebe;
              }
              td {
                padding: 15px 0  15px 20px;
                border: 1px solid #bebebe;
                .mark {
                  color: $orange;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
        .img_area {
          padding: 0 100px;
          .unit {
            .txt {
              padding-top: 8px;
              text-align: center;
            }
          }
        }
      }
      #section02 {
        margin-bottom: 70px;
        .txt_area {
          margin-bottom: 20px;
          p {
            &:nth-of-type(2) {
              margin-bottom: 11px;
            }
            &:nth-of-type(3) {
              padding-left: 90px;
              background: url("../img/office/access_tab.gif") 0 0 no-repeat;
            }
          }
        }
      }
    }
  }
}

/* 18.lawyer
-------------------------------------------------- */
#low {
  .inner {
    #lawyer {
      #section01 {
        margin-bottom: 70px;
        .section_inner {
          @include clearfix;
          margin-bottom: 50px;
          .h3ttl {
            padding: 13px 0 13px 30px;
            margin-bottom: 20px;
            font-size: 14px;
            color: #fff;
            background: url("../img/faq/h3ttl_bg.jpg") 0 0 no-repeat;
          }
          .unit {
            width: 500px;
            table {
              width: 100%;
              margin-bottom: 15px;
              tr {
                th {
                  width: 120px;
                  padding: 15px 0 15px 20px;
                  font-weight: normal;
                  text-align: left;
                  background-color: #f0f0f0;
                  border: 1px solid #bebebe;
                }
                td {
                  padding: 15px 0 15px 20px;
                  border: 1px solid #bebebe;
                }
              }
            }
            dl {
              padding: 20px 15px;
              background-color: #eff7ff;
              border: 1px solid #b6cde4;

              dt {
                padding: 0 0 12px 25px;
                margin-bottom: 16px;
                color: $navy;
                border-bottom: 1px dotted #bebebe;
                background: url("../img/lawyer/mark.gif") 5px top no-repeat;
              }
              dd {
                line-height: 1.615;
              }
            }
          }
        }
      }
    }
  }
}